<div class="box6">
  <div class="error">
    
            <%= image_tag('logo.png')  %>

    <h1>500</h1>

    <h2>Página Não Encontrada</h2>
    <ul>
      <li>
        <p>Não foi possível encontrar a página que você solicitou.</p>
      </li>
      <li>
        <p>Se você sente que algo está faltando que deveria estar aqui, entre em contato conosco pelo link
          <%= link_to 'Contato', contacts_path  %></p>
      </li>
    </li>
  </div>
</div>
