<% if current_announcement.exists? && !announcement_hidden?(current_announcement) %>

<div id="announcement">
  <span><%= current_announcement.created_at.strftime("%d/%m/%Y")  %></span>
  <span><%= markdown(current_vitrine_announcement.body) %></span>
  <span class="hide">

    <%= link_to_function "Fechar", "hideAnnouncement('announcement_#{current_announcement.created_at}')" %>
  </span>
</div>
<% end %>
