<%= image_tag 'logo.png' %>
<br/>
<br/>
Olá <%= @user.name %>,
<br/>
<br/>
Obrigado por se Registrar! Para confirmar sua conta clique no link abaixo.
<br/>
<br/>
<%= confirm_email_user_url(@user.confirm_token) %>
<br/>
<br/>
<p>Vitrineonline &copy; 2016
</p>
