
<%= image_tag 'logo_mailer.png' %>
<br/>
<br/>
Bem vindo a Vitrineonline,
<%= @user.name %>
<br/>
<br/>
Seu login é:
<%= @user.email %>
<%=@user.password %>
<br/>
<br/>
<p>Vitrineonline &copy; 2016
</p>
