

<div id="wrap_tip">
  <div class="content_tip">

   
           <h4>Mensagens</h4>  
        <%=link_to "Caixa de Entrada", conversations_path  %>

                     
  <%= render partial: 'conversation', :collection => @conversations %>

             


</div>
</div>



