
<div class="box7">
  <div class="block">
    <div class="content">

<h1>Notificações</h1>

<% @activities.each do |activity| %>
  <div class="activity">
    <%= link_to activity.owner.name, activity.owner if activity.owner %>
    <%= render_activity activity %>
  </div>
<% end %>

    </div>
  </div>
      </div>
