<div class="block">
  <h4>Avaliação</h4>

  <div class="content">
    <div class="feedback_stars_rating" data-read-only="true" data-score="<%= @average_rating_from_sellers %>"></div>

    <%= render :partial => 'feedbacks/feedbacks' %>

  </div>
</div>
