
<div id="wrap_tip">
  <div class="content_tip">

   
                      <ul>

                 <li>
 <%= link_to 'Ajuda?',  page_path("comprar")%> </li>


                          <li>

                   <%=link_to "Conta", edit_user_path(current_user)%>
              </li>
              <li>

                  <%= link_to 'Sair',  session_path(current_user),   method: :delete %>
              </li>
          </ul>

             


</div>
</div>


