<div class="user_tip">
<ul>
 

            <%=link_to "Conta", edit_user_path(current_user)%>
                           
<div class="footer_tip">

                <%= link_to 'Sair',  session_path(current_user),   method: :delete %>
                                  
</div>


</div>
