
<div class="box6">
  <div class="block_white">
  </div>
</div>

<div class="box4">
  <div class="block_white">

    <h1>Bem-vindo <%=current_user.first_name %>!</h1>
    <p>Seu novo endereço da Vitrineonline é <b>https:vitrineonline.com/<%=current_user.first_name %></b></p>

    <p>Obrigado por criar uma Conta na Vitrineonline. Use-a para buscar produtos e vitrines, curtir e compartilhar, produtos e vitrines em suas redes sociais  e muito mais.</p>


<%= button_to "Prosseguir para Vitrine", root_path, :class=> "btn", :method => "get"  %>

  </div>
</div>
