
<div class="box6">
  <div class="block_white">
  </div>
</div>

<div class="box4">
  <div class="block_white">

    <h1>Bem-vindo!</h1>
    <p>A confirmação foi enviada! por favor verfique seu email.</b></p>

    <p>Obrigado por criar uma Conta na Vitrineonline. Use-a para buscar produtos e vitrines, curtir e compartilhar, produtos e vitrines em suas redes sociais  e muito mais.</p>


<%= button_to "Prosseguir para Vitrine", root_path, :class=> "btn", :method => "get"  %>

  </div>
</div>
