 <!--USER MENU  -->
 <div class="box11">
     <div id="divider_right"></div>


  <div id="menu-box">
    <div class="menu_content">
    <h1 class="h1_menu">Menu</h1>
    <h2><span class="texto">Ultima Mensagem</span></h2>
    <ul>
      <li><%= link_to "Voltar", conversations_path(current_user) %></li>
        </ul>
        </div>
</div>
</div>
