 <div class="block_pagination">
        <div class="digg_pagination">
          <%= will_paginate @feedbacks,:container => false, previous_label: h('« Voltar'), next_label: h('Próximo »'),:page_gap => "......", :inner_window => 1, :outer_window => 1 %>

        </div>
      </div>

