 <!--FILTER  -->
<div class="box3">


 <div id="user-busca">

   <h2><b>Buscar</b></h2>

  <%= search_form_for @q, url: products_boutiques_path,  html: { method: :post } do |f| %>
  <div class="field">
    <%= f.label :name_cont, "Name contains" %>
    <%= f.text_field :name_cont %>
  </div>
    <div class="actions"><%= f.submit "Search" %></div>
<% end %>
  
  
  
  </div>



   

  </div>














