     <table class="block_search">

        <tr>
          <td>
<p><%=@products.total_entries %> Produtos achados</p>

          </td>
          <td class="sort">

            Ordernar Por
            <%= select_tag 'order_by', options_for_select([['Preço: Mais Baratos', 'price:asc'], ['Preço: Mais Caros', 'price:desc'], ['Média de Avaliações', 'average_customer_rating:desc'], ['Postado Recentemente', 'created_at:desc']], params[:order_by] || 'created_at:desc'), :class=> "select_item" %>


          </td>
        </tr>
      </table>  

