<!--USER MENU  -->
<div class="box11">

  <div id="menu-box">
    <div class="menu_content">
    <h2 class="h1_menu">Conta</h2>

      <ul>
        <li><%= link_to "Configuração", edit_user_path(current_user) %></li>
        <li><%= link_to "Password", new_user_password_path(current_user) %></li>

      </ul>

    </div>
  </div>
</div>

