<!--USER MENU  -->
<div class="box11">

  <div id="menu-box">
    <div class="menu_content">

      <h2>
        <span class="texto">Curtidas</span>
      </h2>

      <ul>
        <li>
          <%= link_to 'Produtos', products_votes_path %>
        </li>
        <li>
        <%= link_to 'Vitrines', vitrines_votes_path %>
        </li>
      </ul>
    </div>
  </div>
</div>
