<% title "Confirmação" %>

         

<#% if @transaction.user_id || @transaction.current_user.id %>



<div class="box5">
   <div class="block  margin_top">

       <h1>Obrigado pela sua compra</h1>

       Data da compra:   <b><#%= @transaction.created_atstrftime('%d/%m/%Y') %></b>
       Número da compra:     <b><#%= @transaction.id %></b>
             
       <p>Um email de confirmação foi enviado para <%=current_user.email %> quando o vendedor marcar como enviado outro email com o número de rastreio 
       será enviado para seu email</p>

      <%= link_to 'Comprados', "#{purchased_orders_path}?status=#{Order.statuses[0]}" %>

  </div>
 </div>

<#% end %>

