<div class="box1">
  <div class="block">
    <div class="error">

      <%= image_tag('logo.png', :alt =>'logo')  %>

      <p>
      O Vendedor não terminou de configurar a sua política de venda</p>
    </div>
  </div>
</div>
