<div class="box1">
  <div class="block">
    <div class="error">

      <%= image_tag('logo.png', :alt =>'logo')  %>

      <p>Preencha suas informações antes de finalizar a compra.</p>
      <ul>
        <li>1. Endereço</li>
        <li>2. Cidade e Estado</li>
      </ul>
    </div>
  </div>
</div>
