<%= render "shared/ajuda_menu" %>

<div class="box6">
  <div class="block margin_top">
    <h4>Avaliação</h4>
    <div class="content">
      O sistema de avaliação das compras e vendas na vitrineonline é baseada em estrelas
      <ol>
        <li>
          1 estrela = péssimo
        </li>
        <li>
          2 estrelas = ruim
        </li>
        <li>
          3 estrelas = regular
        </li>
        <li>
          4 estrelas = bom
        </li>
        <li>
          5 estrelas = excelente
        </li>

      </ol>
    </div>

  </div>
</div>
