<%= render "shared/ajuda_menu" %>

<div class="box6">
  <div class="block margin_top">

    <h4>Como faço para montar minha VITRINE?</h4>
    <div class="content_help">

      <h2>Primeiro Passo - Criar</h2>
      <p>Após criada a conta clique no icone vitrine ao lado direito do navegador</p>
      <br>

      <h2>Segundo Passo - Estilizar</h2>

      Você poderá adicionar:
      <br>

      <ul>
        <br>

        <li>logotipo</li>
        <br>

        <li>banner</li>
        <br>

        <li>criar um slogan</li>
        <br>

      </ul>

      <p>Os consumidores estão interessados em você e em seus produtos, por isso capriche.</p>

      <h2>Terceiro Passo
      </h2>
      <br>

      <p>
        <b>Barra de anúncio</b>
      </p>
      <br>

      <p>A barra de anúncios da vitrine é uma área de texto que aparece no topo da pagina inicial da vitrine.</p>
      <br>

      <p>
        <b>Caixa de Mensagem</b>
      </p>
      <br>

      <p>A caixa de Mensagens é um espaço para negociações na vitrineonline</p>
      <br>

      <p>
        <b>Políticas</b>
      </p>

      <p>Uma parte vital da criação de sua vitrine é sua política</p>
      <br>

      <p>Adicione seu email do paypal para receber o pagamento</p>

      <br>

      <p>A garantia servirá para conscientizar o comprador, contudo as políticas de venda não são necessárias, porém recomendamos que cada vendedor defina suas políticas de pagamento e devoluções.</p>
      <br>

      <p>Estas políticas vão ajudar você e seus clientes a solucionar eventuais litígios que possam surgir</p>
      <br>

      <p>Você pode editar sua página de políticas. Se você deixar em branco, ela não irá aparecer na página do produto.</p>

      <br>

    </div>
  </div>
</div>
