<%= render "shared/ajuda_menu" %>

<div class="box6">
  <div class="block  ul_disc margin_top">
    <h1>Ajuda -- Como faço para montar minha VITRINE?</h1>
    <hr class="line"></hr>

    <div class="content_help">

    <p><b>Primeiro Passo - Criar</b></p>
      <p>Após criada a conta clique no icone vitrine ao lado direito do navegador</p>
<p> Adicione o nome e seu CPF ou CNPJ para começar a usar sua vitrine</p>

      <p><b>Segundo Passo - Estilizar</b></p>
<p></p>
      <p><b>Você poderá adicionar:</b></p>


      <ul>


        <li>logotipo</li>


        <li>banner</li>


        <li>criar um slogan</li>


      </ul>

      <p>Os consumidores estão interessados em você e em seus produtos, por isso capriche.</p>
  <hr class="line"></hr>
    <p><b>Terceiro Passo</b></p>



      <p>
        <b>Barra de anúncio</b>
      </p>


      <p>A barra de anúncios da vitrine é uma área de texto que aparece no topo da pagina inicial da vitrine.</p>

  <hr class="line"></hr>
      <p>
        <b>Caixa de Mensagem</b>
      </p>


      <p>A caixa de Mensagens é um espaço para negociações na vitrineonline</p>
  <hr class="line"></hr>

      <p>
        <b>Políticas</b>
      </p>

      <p>Uma parte vital da criação de sua vitrine é sua política</p>


      <p>Adicione seu email do paypal para receber o pagamento</p>



      <p>A garantia servirá para conscientizar o comprador, contudo as políticas de venda não são necessárias, porém recomendamos que cada vendedor defina suas políticas de pagamento e devoluções.</p>


      <p>Estas políticas vão ajudar você e seus clientes a solucionar eventuais litígios que possam surgir</p>


      <p>Você pode editar sua página de políticas. Se você deixar em branco, ela não irá aparecer na página do produto.</p>



    </div>
  </div>
</div>
