<%= render "shared/ajuda_menu" %>
<div class="box6">
  <div class="block ul_disc margin_top">

<h1>Ajuda -- Como faço para comprar?</h1>
<hr class="line"></hr>



    <div class="content_help">

    <p>  <b>
        Adicionar a Sacola</b></p>

      <p></p>

      <p>Quando você encontrar um produto que deseja clique em adicionar a sacola</p>
      <p>Você poderá acessar sua sacola a qualquer momento, colcando no ícone carrinho ao lado direito da barra do site.</p>
      <p>Você poderá continuar a fazer compras e adicionar vários produtos de vitrines diferentes na sua sacola.</p>
    <p></p>

      <hr class="line"></hr>
    <p>  <b> Checkout</b></p>

<p></p>
      <ul>
        <li>Após clicar em comprar aparecerá o sumário do produto escolhido para compra</li>


        <li>Verifique com atenção as informações do produto escolhido</li>


        <li>Verifique com atenção o Endereço para entrega</li>


        <li>E por ultimo: antes de escolher o frete entre em contato com o vendedor para saber o preço do frete para sua região</li>


        <li>Mantenha um contato constante com o vendedor</li>


        <li>Depois de tudo acertado, finalize a compra</li>
      </ul>

      <p>
        <b>A única forma de pagamento disponível é pelo paypal</b>
      </p>
<hr class="line"></hr>
      <p><b> Avaliação</b></p>

<p></p>
      <p>Após a transação e entrega do produto, por favor não deixe de avaliar a vitrine</p>
      <p>Características como atendimento, qualidade do produto, honestidade são pontos fundamentais para uma boa avaliação</p>

    </div>
  </div>
</div>

