<%= render "shared/ajuda_menu" %>
<div class="box6">
  <div class="block margin_top">
    <h4>Como faço para comprar?</h4>

    <div class="content_help">

      <h2>
        Primeiro Passo - Adicionar a Sacola</h2>

      <br>

      <p>Quando você encontrar um produto que deseja clique em adicionar a sacola</p>

      <p>Você poderá acessar sua sacola a qualquer momento, colcando no ícone carrinho ao lado direito da barra do site.</p>
      <br>

      <p>Você poderá continuar a fazer compras e adicionar vários produtos de vitrines diferentes na sua sacola.</p>

      <h2>Segundo Passo - Checkout</h2>
      <br>
      <ol>
        <li>Após clicar em comprar aparecerá o sumário do produto escolhido para compra</li>
        <br>

        <li>Verifique com atenção as informações do produto escolhido</li>
        <br>

        <li>Verifique com atenção o Endereço para entrega</li>
        <br>

        <li>E por ultimo: antes de escolher o frete entre em contato com o vendedor para saber o preço do frete para sua região</li>
        <br>

        <li>Mantenha um contato constante com o vendedor</li>
        <br>

        <li>Depois de tudo acertado, finalize a compra</li>
      </ol>
      <br>
      <p>
        <b>A única forma de pagamento disponível é pelo paypal</b>
      </p>

      <h2>Terceiro Passo - Avaliação</h2>
      <br>

      <p>Após a transação e entrega do produto, por favor não deixe de avaliar a vitrine</p>
      <p>Características como atendimento, qualidade do produto, honestidade são pontos fundamentais para uma boa avaliação</p>

    </div>
  </div>
</div>
