<%= render "shared/ajuda_menu" %>

<div class="box6">
  <div class="block margin_top">
    <h1>Ajuda -- Quais São os custos?</h1>
    <hr class="line"></hr>
    
    <div class="content">
Para criar sua vitrine e postar seus produtos não há custos.
      <p>
        O único custo é:
        <b>10% de comissão
        </b>
      </p>

      <p>Que será descontado no ato da venda de seu produto e a comissão é sobre o valor do item</p>

    </div>

  </div>
</div>

