<%= render "shared/ajuda_menu" %>

<div class="box6">
  <div class="block margin_top">

    <h1>
      Quais São os custos?</h1>
    <div class="content">

      <p>
        <b>10% de comissão
        </b>
      </p>

      <p>Será descontado no ato da venda a comissão sobre o valor do item</p>

    </div>

  </div>
</div>
