<div class="box6">
  <div class="block margin_top">
    <h4>Oportunidades</h4>
    <div class="content_footer">
      <h2>1. Desenvolvedor Front-End</h2>
      <br>
      <h2>Função</h2>

      <p>Monitorar, verificar e otimizar com regularidade toda parte do front, ou seja: o html,css e javascript/JSON. Criar e implementar plugins utilizando o framework jQuery!</p>
      <br>
      <h2>Requisito</h2>

      <p>experiência de pelo menos 1 ano com desenvolvimento front-end e em especial javascript/JSON. saber HTML5, CSS3 e JavaScript. saber utilizar as ferramentas: YSlow, Page Speed, HttpWatch, Show Slow, WebPagetest e firebug Entenda CDNs, cabeçalhos
        HTTP, ajax, websockets e cache.
      </p>

      <br>

      <h2>2. Desenvolvedor Back-End</h2>

      <br>

      <h2>Função</h2>

      <p>

        Monitorar, verificar, otimizar e construir aplicativos utilizando o framework Rails, criar ferramentas, scripts de automação e melhoria para o db sempre que necessário. manter um ambiente escalável e db seguro e robusto. monitorar, verificar e
        arrumar o db sempre que for necessário.

        <br>
        Tratar com os outros desenvolvedores para ajuste de desempenho e otimização geral. Ter como prioridade o bancos de dados MySQL para a produção e desenvolvimento.

      </p>

      <br>
      <h2>Requisito</h2>
      <p>
        Experiência de pelo menos 1 ano com o framework RoR e a utilização do db mySQL, sólida compreensão da arquitetura de aplicações web, incluindo TCP / IP e HTTP, Familiaridade com repositório Git Bom entendimento de Shell. Conhecimento de outras
        linguagens como, PHP, JAVA e Pyton Experiência em missões críticas na busca de problemas em de banco de dados como: SQL, MySQL, MongoDB, Postgres, etc, compreensão de cache e otimizações em geral Experiência com CDN capacidade de dominar as línguas
        referidas e já ter trabalhado com uma variedade de línguas além de forte experiência com banco de dados, e especialmente em torno de aplicações de escala.

      </p>
    </div>
  </div>
</div>
