<%= render "shared/ajuda_menu" %>

<div class="box6">
  <div class="block margin_top">

    <h1>Ajuda -- Quais são as formas de pagamentos disponíveis?</h1>
    <hr class="line"></hr>



    <div class="content">



      <%= link_to  "https://www.paypal.com/br"  do %>

  <%= content_tag(:span, nil, :class => 'sprite-icons-paypal_cards ') %>
  <% end %>

    </div>

  </div>
</div>
