<%= render "shared/ajuda_menu" %>

<div class="box6">
  <div class="block margin_top">
    <h4>A única forma de pagamento disponível</h4>
    <div class="content">



      <%= link_to  "https://www.paypal.com/br"  do %>

  <%= content_tag(:span, nil, :class => 'sprite-icons-paypal_cards ') %>
  <% end %>

    </div>

  </div>
</div>
