<%= render "shared/ajuda_menu" %>

<div class="box6">
  <div class="block margin_top">
    <h4>A única forma de pagamento disponível</h4>
    <div class="content">

      <%= content_tag(:span, nil, :class => 'paypal') %>
    </div>

  </div>
</div>
