<div class="box6">
  <div class="block margin_top">
    <h1>Políticas de Privacidade</h1>
    <div class="content_footer">

      <h2>1. Privacidade</h2>
      <br>
      <p>A vitrineonline está totalmente empenhada em proteger a privacidade dos visitantes do nosso sistema e clientes. Nós apreciamos plenamente a importância de ter a nossa própria privacidade protegida na internet e nós respeitamos o seu direito ao mesmo.</p>

      <br>
      <p>Nós não vamos divulgar informações sobre os nossos usuários a terceiros, salvo se for parte do fornecimento de um serviço para você - por exemplo: experiências para o desenvolvido de melhoria do sistema, a realização de crédito e outras
        verificações de segurança e para fins de investigação de clientes e de perfil. Nós só divulgaremos suas informações, com a sua permissão expressa para fazê-lo.</p>

      <h2>2. Consentimento</h2>

      <br>
      <p>Nós não venderemos o seu nome, endereço, e-mail, informações de cartão de crédito ou informações pessoais a terceiros (excluindo os outros usuários de quem você pode ter ligação em nosso site) sem sua permissão.</p>

      <h2>3. Comunicação e Marketing</h2>

      <br>
      <p>Se você tiver feito uma compra dentro do sistema, ocasionalmente informaremos a você sobre as últimas notícias do nosso produto e ofertas, eventos e promoções especiais via e-mail ou notificações na sua caixa de mensagens vitrineonline</p>

      <h2>4. Cookies</h2>

      <br>
      <p>Um cookie é um pequeno arquivo de informações que é enviado para o seu computador e é armazenado em seu disco rígido. Se você tem conta conosco, em seguida, seu computador irá armazenar um cookie de identificação que vai lhe poupar tempo cada vez
        que você entrar no sistema, recordando o seu endereço de e-mail para você. Você pode alterar as configurações do seu navegador para evitar que os cookies sejam armazenados em seu computador sem seu consentimento explícito.</p>

      <h2>5. Estatísticas do Site</h2>

      <br>
      <p>Podemos usar as estatísticas anónimas sobre o número de visitantes ou o número de compras feitas. Usaremos esses dados de pesquisa sobre os visitantes para ajudar a melhorar a plataforma e consequentemente o serviço.</p>
      <br>
      <p>Tanto os cookies e o código incorporado fornecem informações e estatísticas sobre as visitas das páginas do site, a duração da visualização de cada página individual, caminho percorrido pelos visitantes através do site, dados sobre as
        configurações dos visitantes e outras informações gerais. A vitrineonline utiliza e armazena este tipo de informação, como as obtidas de outros cookies utilizados no site, para ajudar a melhorar os serviços para seus membros.</p>

      <h2>6. Transferências das Informações</h2>

      <br>
      <p>As informações que coletamos de você podem ser transferidas, e armazenadas em um destino fora do território nacional. Também pode ser processado pelo pessoal que opera fora do Brasil que podem trabalhar em conjunto conosco. Esse processo pode, por
        exemplo, ser necessário a fim de cumprir sua compra, finalizar compra "check-out" e processar os dados de pagamento ou prestação de serviços de apoio.</p>
      <br>
      <p>Infelizmente, a transmissão de informação através da Internet não é completamente segura. Faremos o nosso melhor para proteger seus dados pessoais, mas não podemos garantir a segurança dos dados transmitidos para o nosso site; qualquer tipo de
        transmissão é por sua conta e risco. Assim que recebermos suas informações, usaremos rigorosos procedimentos e recursos de segurança para tentar impedir o acesso não autorizado.</p>

      <h2>7. Sites de Terceiros</h2>

      <br>
      <p>Nosso site pode conter links de e para os sites das redes de nossos parceiros, anunciantes e outros terceiros. Se você seguir um link para qualquer um desses sites, por favor, note que eles têm suas próprias políticas de privacidade e que nós não
        aceitamos qualquer responsabilidade por suas políticas. Por favor verifique essas políticas antes de enviar quaisquer dados pessoais a estes sites.</p>

      <h2>8. Verificação de seus Detalhes</h2>

      <br>
      <p>Se você deseja verificar os detalhes que foram enviados a vitrineonline poderá fazê-lo entrando em contato conosco através do endereço de e-mail
        <a href="mailto:contato@vitrineonline.com">contato@vitrineonline.com</a>. Nossos procedimentos de segurança significa que podemos pedir prova de identidade antes de revelar a informação. Esta prova de identidade assumirá a forma do seu endereço de
        e-mail e senha enviada após a inscrição. Você deve manter esta informação segura e você será responsável por qualquer ação que tomarmos em resposta a um pedido de alguém usando o seu e-mail e senha. Nós recomendamos que você não use a função do
        navegador de memorização de senha pois permite que outras pessoas usando o seu computador possa acessar suas informações pessoais.
      </p>

    </div>
  </div>
</div>
