<%= render "shared/ajuda_menu" %>

<div class="box6">

  <div class="block margin_top">
    <h4>Quais produtos posso vender?</h4>
    <div class="content">

      Você só poderá vender produtos dentro do setor de roupas, calçados e acessórios.
    </div>
  </div>
</div>
