<%= render "shared/ajuda_menu" %>

<div class="box6">

  <div class="block margin_top">

    <h1>Ajuda -- Quais produtos posso vender?</h1>
    <hr class="line"></hr>


    <div class="content">

      Você só poderá vender produtos dentro do setor de roupas, calçados e acessórios.
    </div>
  </div>
</div>
