<%= render "shared/ajuda_menu" %>
<div class="box6">
  <div class="block ul_disc margin_top">

<h1>Ajuda -- Proteção ao comprador</h1>
<hr class="line"></hr>



    <div class="content_help">

    <p>  <b>
         Fale com o vendedor</b></p>

      <p></p>

      <p>
      Se o seu não for como descrito ou chegou danificado ou adulterado de alguma forma </p>

      
      
      
      <p></p>

      <hr class="line"></hr>
    <p>  <b>Reclamação e acordo</b></p>

<p></p>


<p>

Se o problema não foi resolvido você poderá fazer uma reclamação clicando reclamção e acordo</p>



      <p>
             </p>
<hr class="line"></hr>
      <p><b>Reclamação e finalização</b></p>



      <p>Se ambas as partes não chegarem a uma solução você pode levar a reclamção para que o paypal analize a sitauação e providencie o reembolso</p>

    </div>
  </div>
</div>

