<%= render "shared/ajuda_menu" %>
<div class="box6">
  <div class="block ul_disc margin_top">

<h1>Ajuda -- Como funciona o ranking?</h1>
<hr class="line"></hr>



    <div class="content_help">

    <p>  <b>
        Curtidas
    </b>
      <p></p>

      <p>As Vitrines e produtos mais curtidos vão para a sessão ranking</p>
         <p></p>

   


    </div>
  </div>
</div>

