<%= render "shared/ajuda_menu" %>

<div class="box6">

  <div class="block ul_disc margin_top">
    <h1>Ajuda -- Quais são as minhas responsabilidades?</h1>
    <hr class="line"></hr>


    <div class="content_help">

      <p>Para manter um ambiente justo e seguro, cada membro, tanto lojista como comprador serão banidos se infringirem qualquer condição estipulada nos termos de uso e políticas de privacidade e se infringirem as normas da boa negociação</p>


      <p><b>As normas da boa negociação são:</b></p>


      <ul>
        <li>Não poste nenhum produto que esteja fora dos permitidos pela vitrineonline</li>


        <li>
          Não negocie com a intenção de fraudar o comprador ou o vendedor, prometendo o que não possa cumprir com isso tirando alguma "vantagem"</li>
        <br>

        <li>Cumpra sempre com suas obrigações financeiras com a vitrineonline e com os membros que for negociar</li>
      </ul>

      <p><b>As punições serão baseadas em 3 notificações</b></p>

      <ul>
        <li>
          <span class="notica-verde">
            1</span>
          Se você receber a primeira notificação, provavelmente algum membro te reportou, Nessa etapa monitorarei e averiguarei as pendencias e seu comportamento
        </li>


        <li>
          <span class="notica-laranja">2</span>
          Se você receber a segunda notificação, provavelmente vários membros te reportaram, Nessa etapa sintetizarei o padrão de reclamações.
        </li>



        <li>
          <span class="notica-vermelha">3</span>
          Se você receber a terceira notificação, você será convidado a deletar sua conta em até 24hrs se você não excluir sua conta, a vitrineonline reserva o direito de excluir sua conta definitivamente do sistema.</li>
      </ul>

      <p><b>Quem me Notifica?</b></p>

      <p>O Administrador</p>
    </div>
  </div>
</div>
