<%= render "shared/ajuda_menu" %>

<div class="box6">

  <div class="block margin_top">
    <h4>Quais são as minhas responsabilidades?</h4>

    <div class="content_help">

      <p>Para manter um ambiente justo e seguro, cada membro, tanto lojista como comprador serão banidos se infringirem qualquer condição estipulada nos termos de uso e políticas de privacidade e se infringirem as normas da boa negociação</p>
      <br>

      <h1>As normas da boa negociação são:</h2>
      <br>

      <ol>
        <li>Não poste nenhum produto que esteja fora dos permitidos pela vitrineonline</li>
        <br>

        <li>
          Não negocie com a intenção de fraudar o comprador ou o vendedor, prometendo o que não possa cumprir com isso tirando alguma "vantagem"</li>
        <br>

        <li>Cumpra sempre com suas obrigações financeiras com a vitrineonline e com os membros que for negociar</li>
      </ol>
      <br>
      <h2>As punições serão baseadas em 3 notificações</h2>
      <br>
      <ul>
        <li>
          <span class="notica-verde">
            1</span>
          Se você receber a primeira notificação, provavelmente algum membro te reportou, Nessa etapa monitorarei e averiguarei as pendencias e seu comportamento
        </li>

        <br>
        <li>
          <span class="notica-laranja">2</span>
          Se você receber a segunda notificação, provavelmente vários membros te reportaram, Nessa etapa sintetizarei o padrão de reclamações.
        </li>

        <br>

        <li>
          <span class="notica-vermelha">3</span>
          Se você receber a terceira notificação, você será convidado a deletar sua conta em até 24hrs se você não excluir sua conta, a vitrineonline reserva o direito de excluir sua conta definitivamente do sistema.</li>
      </ul>
      <br>
      <h2>Quem me Notifica?</h2>

      <p>O Administrador</p>
    </div>
  </div>
</div>
