<%= render "shared/ajuda_menu" %>

<div class="box6">
  <div class="block margin_top">
    <h1>Ajuda -- Qual é a Segurança?</h1>
    <hr class="line"></hr>


    <div class="content">

      A Vitrineonline utiliza criptografia certificada que pode ser verficada no seu navegador ao lado esquerdo do domínio Vitrineonline



    </div>

  </div>
</div>
