<%= render "shared/ajuda_menu" %>

<div class="box6">
  <div class="block margin_top">
    <h1>Ajuda -- Porque vender na vitrineonline?</h1> 
    <hr class="line"></hr>



    <div class="content">



        <p>Acesse um novo canal de vendas
        Comece a vender sem criar um site, gerencie tudo com facilidade e rapidez.</p>


        <p>Anuncie para centenas de pessoas compartilhando nas redes sociais</p>



        <p>Desenvolva sua marca
        Além de expor sua loja para todo Brasil desenvolva sua marca nas redes sociais</p>


    </div>

  </div>
</div>

