<div class="box6">
  <div class="block margin_top">
    <h1>Sobre</h1>
    <div class="content_footer">
      <br>
      <p>A vitrineonline é um espaço criar sua vitrine, divulgar, vender e comprar produtos de lojas físicas já estabelicidas ou iniciantes que procuram dar o primero passo no empreededorismo com pouco custo. </p>

      <p>Além de de crirar e vender e comprar productos o principal objetivo da vitrineonline é oferecer a possibilidade dos lojistas desenvolverem e fortalecerem suas marcas dentro e fora da vitrine</p>
    </div>
  </div>
</div>
