<div class="box6">
  <div class="block margin_top">
    <h1>Sobre</h1>
    <div class="content_footer">
      <br>
      <p>A vitrineonline é um destino para a inspiração e descoberta, onde você pode divulgar, criar sua boutique especializada com seu estilo e marca. Estilo só se torna moda quando as roupas são trazidas à vida. Queremos colocar um fim à moda sequencial
        e marcada, buscando onde tudo começou, nas ruas.</p>

      <p>A criatividade é o nosso laboratório. Sentir a emoção de encontrar algo único e original, é especial.</p>
    </div>
  </div>
</div>
