<div class="box6">
  <div class="block margin_top">
    <h4>
      Termos e Condições Gerais de uso da Vitrineonline</h4>

    <div class="content_footer">

      <p>LEIA ATENTAMENTE ESTES TERMOS DE USO ("Contrato" ou "TERMOS DE USO") ANTES DE USAR O SITE E OS SERVIÇOS OFERECIDOS PELA VITRINEONLINE, aplicam-se ao uso dos serviços oferecidos pela vitrineonline.com, empresa devidamente inscrita no CNPJ sob o n°
        13.522.162/0001-31, situado na Avenida Roberto Silveira nº 95A, Chácara da Saudade, Paraty/RJ, doravante nominada Vitrineonline, por meio do site ("www.vitrineonline.com"). ESTE CONTRATO ESTABELECE OS TERMOS E CONDIÇÕES JURÍDICAS PARA A SUA
        UTILIZAÇÃO DO SITE EM HTTP: / / WWW.VITRINEONLINE.COM (O "SITE" OU "SÍTIO ELETRÔNICO" E TODOS OS SERVIÇOS PRESTADOS PELA VITRINEONLINE).</p>
      <br>
      <p>Ao utilizar o site de qualquer forma, incluindo mas não limitando-se a visitar ou navegar no site, você (o "usuário" ou "você" "membro") concorda em ficar vinculado por estes Termos e Condições Gerais aqui mencionados e disponível pelo hiperlink
        no endereço:
        <%= link_to 'vitrineonline.com/termos', page_path('termos')%>
        e as Políticas de Privacidade disponível pelo hiperlink no endereço:<%= link_to 'vitrineonline.com/privacidade', page_path('privacidade')%>.</p>
      <br>
      <p>
        Estes Termos e Condições Gerais aplicam-se a todos os usuários do site, incluindo, sem limitações de usuários que são clientes, comerciantes, contribuintes de conteúdo, informações e outros materiais ou serviços no Site.</p>

      <br>
      <p>A ACEITAÇÃO DESTES TERMOS E CONDIÇÕES GERAIS É ABSOLUTAMENTE INDISPENSÁVEL À UTILIZAÇÃO DA VITRINEONLINE E SEUS SERVIÇOS</p>

      <br>
      <p>Se você tiver alguma dúvida, entre em contato pelo email
        <a class="duvida" href="mailto:admin@vitrineonline.com">admin@vitrineonline.com</a>
      </p>

      <h2>1. Serviços</h2>
      <br>
      <p>A vitrineonline atua como um local para permitir aos utilizadores, oferecer, divulgar, vender e comprar produtos dentro das categorias de vestuário, calçado, acessórios como: (bolsa, óculos, colar etc.) dentro de um formato de preço fixo.</p>

      <br>
      <p>A vitrineonline não está diretamente envolvida na transação entre compradores e vendedores. Como resultado, a vitrineonline não tem controle sobre a qualidade, segurança moralidade ou legalidade de qualquer aspecto dos produtos listados, a
        veracidade ou exactidão das listagens, a capacidade dos vendedores para vender os produtos ou a capacidade dos compradores de pagar pelos itens. A vitrineonline não pré-seleciona os usuários ou o conteúdo ou as informações fornecidas pelos usuários.
        A vitrineonline não pode garantir que um comprador ou vendedor vai realmente completar uma transação.</p>

      <br>
      <p>Conseqüentemente, a vitrineonline não transfere a propriedade legal dos produtos do vendedor para o comprador.</p>

      <br>
      <p>A vitrineonline não pode garantir a verdadeira identidade e idade de um usuário. A vitrineonline incentiva você a se comunicar diretamente com os potenciais compradores ou vendedores para transações através das ferramentas disponíveis no site.
        Você também pode querer considerar usar serviços de terceiros ou serviços adicionais que forneçam uma melhor verificação do usuário.</p>
      <br>
      <p>Você concorda que a vitrineonline é um site e como tal não se responsabiliza por qualquer conteúdo, por exemplo: dados, textos, informações, nomes, gráficos, imagens, fotografias, perfis, áudio, vídeo, produtos e links postados por você, outros
        usuários ou terceiros na vitrineonline. Você usa os serviços da vitrineonline por sua própria conta e risco.</p>

      <h2>2. Cadastro e Associação</h2>
      <br>
      <p>O cadastro e serviços da vitrineonline estão disponíveis apenas para e só podem ser usados por indivíduos que são maiores de 18 anos e que possam assinar os contratos juridicamente vinculativos nos termos da legislação vigente. Você declara e
        garante que tem pelo menos 18 anos de idade e que todas as informações de registro que apresentar são exatas e confiáveis. A vitrineonline poderá, a seu exclusivo critério, recusar-se a oferecer o acesso ou uso do site a qualquer pessoa ou entidade e
        mudar os seus critérios de cadastro e associação a qualquer momento. Também não é permitido que uma mesma pessoa tenha mais de um cadastro. Se a vitrineonline detectar, através do sistema de verificação de dados, cadastros duplicados, irá inabilitar
        definitivamente os usuários com contas "cadastros" duplicados.</p>

      <br>
      <p>Indivíduos com idade inferior a 18 anos não devem usar os serviços da vitrineonline ou apenas em conjunto e sob a supervisão dos pais ou responsável legal, que tenha pelo menos 18 anos de idade. Nestes casos, o adulto é o usuário e responsável por
        toda e qualquer atividade do menor.</p>

      <br>
      <p>Associação: Você concorda em cumprir todas as leis locais relativas à conduta on-line e conteúdo aceitável. Você é responsável por todos os impostos aplicáveis. Além disso, você deve respeitar os termos e políticas da vitrineonline, expresso no
        acordo e os documentos de política de privacidade no link
        <%= link_to 'vitrineonline.com/privacidade', page_path('privacidade')%>
        (aplicável a todas suas atividades no uso do site), bem como todas as outras regras operacionais e de responsabilidade, políticas e procedimentos que possam ser publicadas no contrato, cada um dos quais é aqui incorporados e atualizado pela
        vitrineonline de tempos em tempos com ou sem aviso prévio para você:</p>

      <br>
      <p>Além disso, os termos e condições do site estão sujeitos a alterações feita de tempos em tempos pela vitrineonline, o seu uso desses serviços e termos está sujeito a revisão e atualização, que podem ser incorporados a este Contrato.</p>

      <br>
      <p>Senha: Mantenha sua senha segura. Você é totalmente responsável por toda a atividade, responsabilidade e danos resultantes de sua falha em manter a confidencialidade da senha. Você concorda em notificar imediatamente a vitrineonline de qualquer
        uso não autorizado de sua senha ou qualquer quebra de segurança. Você também concorda que a vitrineonline não pode e não será responsável por qualquer perda ou dano decorrente de sua falha em manter sua senha segura. Você concorda em não fornecer seu
        nome de usuário e senha para qualquer outro usuário que não a vitrineonline sem expressa autorização por escrito da vitrineonline.</p>

      <br>
      <p>Informações da Conta: Você deve manter as suas informações da conta atualizadas e precisas em todos os momentos, incluindo um email válido. Para vender produtos na vitrineonline, você deve fornecer e manter informações de pagamento válidas, tais
        como informações válidas do cartão de crédito ou uma conta no PayPal válida.</p>

      <br>
      <p>Transferência de conta: Você não pode transferir ou vender sua conta vitrineonline de usuário para outro usuário. Se você estiver registrado como uma entidade de negócio, você, pessoalmente, deve garantir que você tem a autoridade para fazer a
        entidade a fazer este Acordo.</p>

      <br>
      <p>Direito de recusar o serviço: A vitrineonline reserva o direito, a critério exclusivo da vitrineonline, para cancelar e excluir a qualquer momento contas não confirmadas e confirmadas, inativas ou ativas. A vitrineonline reserva o direito de
        recusar o serviço a qualquer pessoa, por qualquer motivo, a qualquer momento</p>

      <h2>3. Comissões
      </h2>

      <br>
      <p>Criar uma Vitrine na vitrineonline é livre. A vitrineonline não cobra taxas de inclusão de um item à venda, mas sim uma porcentagem do preço de venda do item quando o item é vendido. Quando você lista um item, você tem a
        oportunidade de rever e aceitar as comissões que serão cobradas a você pela vitrineonline. Veja nossa Política de Comissões vitrineonline na seção ajuda que está sujeita a alterações e é incorporada a este Contrato. Alterações à Política de Comissões
        e as comissões para os serviços da vitrineonline serão implementadas após a vitrineonline fornece-lhe um aviso com pelo menos 3 (três) dias de antecedência no site.</p>

      <br>
      <p>No entanto, a vitrineonline pode optar por alterar temporariamente a Política de Comissões e as Comissões para os serviços da vitrineonline para eventos promocionais (por exemplo, dia de comissão livre); tais eventos e mudanças podem ser
        implementados e divulgados sobre forma de eventos e mensagens temporárias e promocionais no site.</p>

      <p>vitrineonline poderá, a critério exclusivo da vitrineonline, alterar alguns ou todos os serviços vitrineonline a qualquer momento.</p>

      <br>
      <p>Você é responsável por pagar todas as comissões e impostos aplicáveis aos responsáveis da vitrineonline. No início do mês, é enviado para cada vendedor uma fatura detalhada do valor das comissões debitadas por cada transação feita. Um vendedor
        deve pagar o montante devido em sua totalidade dentro de até 7 dias da data da fatura.</p>

      <br>
      <p>Comissões e Término: Se a vitrineonline excluir sua conta ou se você fechar sua conta, ou se o pagamento de nossas comissões não poderem ser concluída por qualquer motivo, você continuará obrigado a pagar a vitrineonline todas as comissões não
        pagas, mais eventuais sanções, se for o caso. Se a dívida do vendedor não é paga integralmente e tornar-se vencidos os prazos para o pagamento, o vendedor terá sanções como a suspensão de privilégios e / ou encerramento da conta e o acionamento de
        mecanismos e ações judiciais para recolha dos valores devidos. Se você tiver alguma dúvida, entre em contato pelo email
        <a href="mailto:duvida@vitrineonline.com">admin@vitrineonline.com</a>.</p>

      <h2>4. Listagem e Venda
      </h2>

      <br>
      <p>Listagem Descrição: Ao listar um item no site você garante que você e todos os aspectos do item cumpram os Termos e Políticas publicados da vitrineonline . Você também garante que você pode vender legalmente o item. Você deve descrever com
        precisão o seu item e todos os termos de venda em sua loja vitrineonline. Suas listagens e postagens só podem incluir descrições de texto, gráficos, imagens e outros conteúdos relevantes para a venda desse item. Todos os produtos devem ser listados
        em uma categoria apropriada com as classificações apropriadas. Cada lista deve descrever com precisão completamente o item e as formas de pagamento e envio dos produtos à venda na listagem. Cada item exclusivo deve ter sua própria lista.</p>

      <br>
      <p>Políticas da Loja: Todos os usuários vendedores são incentivados a delinear políticas de vendas para suas lojas vitrineonline. Essas políticas podem incluir, por exemplo: o transporte, as devoluções de pagamento e produtos, e as políticas de
        venda. Os usuários vendedores devem criar políticas razoáveis de boa fé e devem respeitar tais políticas. Todas as políticas dos usuários vendedores devem cumprir e obedecer os termos e políticas da vitrineonline. A vitrineonline reserva o direito de
        solicitar que um usuário vendedor modifique sua política de vendas.</p>

      <br>
      <p>Vendas e Envio: Todas as vendas são vinculativas. O usuário vendedor é obrigado a enviar o item no fim ao completar a transação com o comprador e, realizar suas transações de uma forma rápida e segura para ambos os usuários "comprador" e
        "vendedor", a menos que haja circunstâncias excepcionais, tais como: (a) o comprador não cumprir os termos do anúncio do vendedor, (como método de pagamento ), ou (b) o vendedor não poder autenticar a identidade e idoneidade do comprador. O comprador
        é obrigado a entregar o pagamento apropriado para os produtos comprados, a menos que haja uma circunstância excepcional.</p>

      <br>
      <p>Evitar Comissão: O preço indicado na descrição de cada item da listagem deve ser uma representação precisa da venda. usuários vendedores podem cobrar taxas razoáveis de transporte e manuseio para cobrir os custos de embalagem e envio dos produtos.
        Os usuários vendedores não podem cobrar taxas de envio excessivo ou evitar taxas. Você não pode alterar o preço do item depois de uma venda com o objetivo de evitar as comissões de transação da vitrineonline, deturpar a localização do item, ou
        utilizar a conta de outro usuário sem permissão.</p>

      <h2>5. produtos proibidos, e Atividades restritas
      </h2>

      <br>
      <p>Você é o único responsável pela sua conduta e atividades sobre a vitrineonline, e todo e qualquer dado como: textos, informações, nomes, gráficos, imagens, fotografias, perfis, áudio, vídeo, produtos e links ou seja o "Conteúdo" que você enviar,
        publicar e exibir na vitrineonline.</p>

      <p>Atividades restritas: o seu conteúdo e o seu uso da vitrineonline não deve:</p>

      <br>
      <p>Ser falsas, incorretas ou enganosas, ser fraudulento ou envolver a venda de produtos falsificados, ilegais ou roubados, Infringir quaisquer direitos de terceiros, patentes, marcas, segredo comercial ou outros direitos proprietários ou de
        propriedade intelectual ou direitos de publicidade ou privacidade.</p>

      <br>
      <p>Conter produtos que foram identificados pelos usuários como perigosos para os usuários e, portanto, sujeitos a uma averiguação. Ser difamatório, calunioso, ameaçador, personificar ou intimidar qualquer usuário (incluindo a vitrineonline e
        empregados), ou declarar falsamente ou deturpar sua afiliação com qualquer usuário, através, por exemplo, do uso de e-mail similar, apelidos ou criação de conta(s) falsa(s) ou qualquer outro método ou dispositivo eletrônico, ser obsceno ou que
        contenham pornografia infantil.</p>

      <br>
      <p>Conter ou transmitir qualquer código de natureza destrutiva que possa danificar e interferir prejudicialmente como: interceptar ou expropriar qualquer sistema, dados ou informações pessoais, postagem de imagens que não fazem parte de uma listagem,
        Modificar, adaptar ou usar a vitrineonline ou modificar outro website de modo a implicar falsamente que está associado a vitrineonline; Criar responsabilidade para vitrineonline ou causar a vitrineonline a perder (no todo ou em parte) os serviços
        vitrineonline.</p>

      <br>
      <p>Ligação direta ou indiretamente, de referência ou que contenham descrições de bens ou serviços que são proibidos nos termos deste Contrato e as Políticas de Privacidade.</p>

      <br>
      <p>Além disso, você não pode listar qualquer item na vitrineonline (ou qualquer transação consumada que foi iniciada usando o serviço vitrineonline) que, pagando a vitrineonline a comissão de venda, poderia causar a vitrineonline a violação de
        qualquer lei aplicável, estatuto, decreto ou regulamento, ou que viole os Termos de uso e Politicas de Privacidade.</p>

      <h2>6. Conteúdo</h2>

      <br>
      <p>Licença: A vitrineonline não reivindica direitos de propriedade postados sobre o seu site. A vitrineonline reserva o direito de usar qualquer informação ou conteúdo que você usuário fornecer a vitrineonline, de modo que a vitrineonline não esteja
        violando quaisquer direitos que possa ter nesse Conteúdo. A vitrineonline concede a você / usuário o direito não exclusivo, mundial, perpétua, irrevogável, livre de royalties, sublicenciável para exercer os direitos de autor, publicidade e direitos
        do banco de dados (mas não outros direitos) que você tem no conteúdo, em qualquer mídia agora conhecido ou não conhecido atualmente, com respeito ao seu conteúdo. Você concorda em permitir a vitrineonline armazenar ou reformatar seu conteúdo na
        vitrineonline e exibir o seu conteúdo na vitrineonline da forma como a vitrineonline escolha. A vitrineonline só vai usar as informações pessoais de acordo com a Política de Privacidade vitrineonline.</p>

      <br>
      <p>Como parte de uma transação, você pode obter informações pessoais, incluindo endereço de e-mail e informação de envio, de outro usuário vitrineonline. Sem obter autorização prévia dos usuários, essas informações pessoais só serão utilizadas pela e
        para a operação da vitrineonline. A vitrineonline não concedeu a você usuário uma licença para usar as informações para mensagens comerciais não solicitadas. Sem a expressa autorização do usuário, você não está licenciado para adicionar qualquer
        usuário da vitrineonline à sua lista de e-mail ou física. Para mais informações, consulte Política de Privacidade vitrineonline.</p>

      <br>
      <p>Republicação de conteúdo: Ao publicar conteúdo na vitrineonline, é possível para um site no exterior ou uma terceira parte re-publicar esse conteúdo. Você concorda em isentar a vitrineonline de qualquer disputa relativa a este uso. Se você optar
        por exibir a imagem vitrineonline hospedada em outro site, a imagem deve fornecer um link para sua página de listagem na vitrineonline ou para a vitrineonline.</p>

      <br>
      <p>Sugestões e idéias: A vitrineonline considera todas as sugestões não solicitadas, idéias, propostas ou outros materiais que lhe são submetidos pelos utilizadores através do Site ou de outra forma (além do conteúdo e os produtos tangíveis vendidos
        no site pelos usuários) (coletivamente ou individualmente o "Material") para ser não-confidencial e não proprietário, A vitrineonline não será responsável pela divulgação ou uso de tal material. Se, a pedido da vitrineonline, qualquer membro enviar
        material para melhorar o site (por exemplo, através do Fórum), a vitrineonline considerará que o material será não-confidencial e não-proprietário e a vitrineonline não será responsável pelo uso ou divulgação do material. Qualquer comunicação por
        você e a vitrineonline estará sujeito a este Acordo.</p>

      <br>
      <p>Você decide conceder e concorda em conceder a vitrineonline,todos os seus direitos sobre o Material, uma licença mundial, não-exclusiva, perpétua, irrevogável, a título gratuito, totalmente livre, sublicenciável e transferível e licença para
        incorporação, utilização, publicação e exploração de tais materiais para qualquer finalidade, comercial ou não, incluindo mas não limitando-se a incorporá-lo na documentação da API, ou qualquer produto ou serviço, sem compensação financeira ou de
        contabilidade para você e sem recurso adicional por você.</p>

      <h2>7. Controle de informações</h2>

      <br>
      <p>A vitrineonline não controla o conteúdo fornecido pelos usuários que é disponibilizado na vitrineonline. Você pode encontrar alguns Conteúdos de caráter ofensivo, prejudicial, imprecisos ou enganosos. Há também riscos de lidar com pessoas menores
        de idade ou que agem sob falsos pretextos.</p>

      <br>
      <p>Além disso, também pode haver riscos de lidar com o comércio internacional e estrangeiros. Usando a vitrineonline, você concorda em aceitar esses riscos e que a vitrineonline (vitrineonline e empregados) não é responsável por todos e quaisquer
        atos ou omissões de usuários na vitrineonline. Tenha cuidado e bom senso na compra e venda, seja cauteloso quando utilizar a vitrineonline.</p>

      <br>
      <p>Outros recursos: A vitrineonline não é responsável pela disponibilidade de sites externos ou recursos vinculados ou referenciados no site. A vitrineonline não endossa e não é responsável por qualquer conteúdo, publicidade, produtos ou outros
        materiais presentes ou disponíveis em tais sites ou recursos. Você concorda que a vitrineonline não será responsável, direta ou indiretamente, por qualquer dano ou perda causada ou alegada de ser causada por ou em conexão com o uso de ou confiança em
        tais conteúdos, produtos ou serviços disponíveis no ou através de tais sites ou recursos.</p>

      <h2>8. Resolução de Disputas
      </h2>

      <br>
      <p>Se você tiver uma disputa com um ou mais usuários, ou uma parte externa, você liberará a vitrineonline (vitrineonline e empregados) de todas e quaisquer reclamações, exigências e danos (diretos e consequenciais) de qualquer tipo e natureza,
        conhecidos e desconhecidos, suspeitos e insuspeitos, divulgados e não divulgados, decorrentes ou de alguma forma relacionados com tais disputas.</p>

      <br>
      <p>A vitrineonline, para o benefício dos usuários, pode tentar ajudar os usuários a resolver disputas. A vitrineonline faz a exclusivo critério da vitrineonline, e sem nenhuma obrigação de resolver disputas entre usuários ou entre usuários e
        terceiros. Na medida em que a vitrineonline tentar resolver uma disputa, irá fazê-lo em boa fé e baseadas unicamente em políticas da vitrineonline. A vitrineonline não faz julgamentos sobre questões judiciais ou reclamações.</p>
      <h2>9. Propriedade Intelectual</h2>

      <br>
      <p>vitrineonline, e outros gráficos vitrineonline, logotipos, desenhos, cabeçalhos de página, estrutura organizacional dos dados, ícones, nomes de serviços são marcas registradas e marcas comerciais da vitrineonline. vitrineonline marca e imagem
        comercial não podem ser utilizados, inclusive como parte de marcas comerciais e / ou como parte de nomes de domínio ou endereços de e-mail, em conexão com qualquer outro produto ou serviço de qualquer maneira que seja susceptível de causar confusão.</p>

      <h2>10. Acesso e interferência
      </h2>

      <br>
      <p>A vitrineonline pode conter cabeçalhos robô exclusão que contêm regras internas para o uso do software. Grande parte das informações sobre vitrineonline é atualizado em uma base em tempo real e é de propriedade ou está licenciado para
        vitrineonline por usuários da vitrineonline ou terceiros. Você concorda que não utilizará nenhum robô, spider, scraper ou outros meios automatizados para acessar a vitrineonline para qualquer fim, exceto com prévia e expressa autorização por escrito
        da vitrineonline. Além disso, você concorda que não irá:</p>

      <br>
      <p>Tomar qualquer medida que imponha, ou venha a impor, a critério exclusivo da vitrineonline, uma carga irrazoável ou desproporcionadamente grande à infraestrutura da vitrineonline, Copiar, reproduzir, modificar, criar trabalhos derivados,
        distribuir ou exibir publicamente o Conteúdo dos outros usuários (exceto para o seu conteúdo)Interferir ou tentar interferir com o bom funcionamento do Site ou quaisquer atividades realizadas no Site.</p>

      <h2>11. Violação</h2>

      <br>
      <p>Sem limitar outros tipos de soluções, a vitrineonline pode, sem aviso prévio e sem reembolso de qualquer comissão ou atraso remover imediatamente qualquer conteúdo, alertar a comunidade de usuários da vitrineonline de ações ou sobre outros
        usuários, emitir um aviso para um usuário, suspender temporariamente ou definidamente um usuário, temporária ou definidamente suspender um usuário do privilégio de conta e associação, encerrar a conta de um usuário, proibir o acesso ao Site, e tomar
        medidas técnicas e jurídicas para manter um usuário fora do site e se recusar a prestar serviços aos usuários usuário.</p>

      <h2>12. Privacidade</h2>

      <br>
      <p>Salvo o disposto na Política de Privacidade, a vitrineonline não irá vender ou divulgar suas informações pessoais (como definido na Política de Privacidade) a terceiros sem seu consentimento explícito. Lojas vitrineonline e Conteúdo e processos em
        computadores localizados no Brasil.</p>

      <h2>13.Responsabilidade</h2>

      <br>
      <p>Em Hipótese alguma a vitrineonline, e ( aplicável a administradores, e empregados) da vitrineonline de responder a conduta de você usuário ou qualquer outra pessoa em ligação com o uso do site, dos serviços vitrineonline, ou a este acordo,
        incluindo, sem limitação, perda de lucros, lesão corporal, stress, emocional ou quaisquer danos especiais ou fortuitos.</p>

      <h2>14. Indenização
      </h2>

      <br>
      <p>Você concorda em indenizar e manter a vitrineonline, e funcionários, de qualquer reclamação ou demanda, incluindo honorários advocatícios, feita por terceiros devido a ou resultantes FORA DE SUA VIOLAÇÃO DO PRESENTE ACORDO OU os documentos que
        incorpora por referência, ou sua violação de qualquer lei ou direitos de terceiros.</p>

      <h2>15. Sem Garantia
      </h2>

      <br>
      <p>vitrineonline não garante o acesso contínuo e ininterrupto ao Site, o funcionamento do site pode ser interferido por inúmeros fatores fora do controle da vitrineonline.</p>
      <h2>16. Taxas</h2>

      <br>
      <p>Você deve cumprir todas as leis nacionais, estatutos, portarias e regulamentos a respeito de seu uso do Site e qualquer serviço vitrineonline e, se for o caso, seu anúncio, compra, solicitação de oferta de compra e venda de produtos. Além disso,
        você será responsável pelo pagamento de quaisquer e todas as taxas aplicáveis a qualquer compra ou venda de produtos que você fizer no Site.</p>

      <h2>17. Modificações</h2>

      <br>
      <p>A vitrineonline se reserva o direito de modificar ou encerrar o serviço vitrineonline, por qualquer motivo, sem aviso prévio, a qualquer momento. A vitrineonline se reserva o direito de alterar estes Termos de Uso ou políticas do site, a qualquer
        momento, portanto, revise as políticas com freqüência. Se houver uma mudança nos termos e políticas iremos notificá-lo, por e-mail, por meio de um aviso em nossa página inicial, ou em outros lugares que a vitrineonline julgar apropriado. O que
        constitui uma "mudança" será determinada a exclusivo critério da vitrineonline, em boa fé, e usando o bom senso e juízo razoável.</p>

      <h2>18. Avisos</h2>

      <br>
      <p>Exceto quando expressamente indicado em contrário, para o endereço de email que fornecemos durante o processo de registo ou quando há alterações de endereço de e-mail. A notificação será considerada feita 24 horas após o email ser enviado, a menos
        que o remetente seja notificado de que o endereço de e-mail não é válido. Alternativamente, a vitrineonline pode dar-lhe aviso por carta registrada, postagem pré-paga e aviso de recebimento, para o endereço fornecido a vitrineonline. Nesse caso, a
        notificação será considerada entregue três dias após a data da postagem.</p>

    </div>
  </div>
</div>
