<%= render "shared/ajuda_menu" %>

<div class="box6">
  <div class="block margin_top">
    <h4>Como faço para vender?</h4>
    <div class="content_help">
      <h2>Primeiro Passo - Postar</h2>
      <br>

      <p>Categorize o seu produto como tamanho e cor para ajudar os compradores a encontrar o produto que você pretende vender.</p>

      <h2>Segundo Passo - Informação</h2>
      <br>

      <p>Quanto mais precisa a descrição, mais rápido o comprador entenderá sobre o seu produto e consequentemente terá menos dúvidas evitando problemas futuros</p>

      <h2>Terceiro Passo - Imagens</h2>

      <p>4 imagens por produto em cada postagem.</p>
      <br>

      <p>As imagens podem ter as dimensões que desejar</p>
      <br>

      <p>A primeira imagem será a miniatura principal que o consumidor vai ver nas pesquisas. Use a fotografia mais atraente do produto.</p>
      <br>

      <p>Evite fotografias com pouca luminosidade e sem foco.</p>

      <h2>Quarto Passo - Informações</h2>
      <br>

      <p>Seja objetivo no campo nome</P>
      <br>

      <p>Palavras-chave irá ajudar a atrair compradores para o seu produto use até 5 palavras chave</P>
      <br>

      <p>
        No campo descrição certifique-se de incluir informações sobre o tamanho, ou qualquer característica única.</p>

      <h2>Qunto Passo - Preço e Quantidade</h2>

      <p>Digite o preço do seu produto sem o custo de envio.</p>
      <br>

      <p>Seja sincero na quantidade adicionada</p>

    </div>
  </div>
</div>
