<%= render "shared/ajuda_menu" %>

<div class="box6">
  <div class="block margin_top">

    <h1>Ajuda -- Como faço para vender?</h1>
    <hr class="line"></hr>

    <div class="content_help">
      <p><b>Postar</b></p>
      <p>Categorize o seu produto como tamanho e cor para ajudar os compradores a encontrar o produto que você pretende vender.</p>
<hr class="line"></hr>
      <p><b>Informação</b></p>


      <p>Quanto mais precisa a descrição, mais rápido o comprador entenderá sobre o seu produto e consequentemente terá menos dúvidas evitando problemas futuros</p>
  <hr class="line"></hr>
    <p><b> Imagens</b></p>

      <p>4 imagens por produto em cada postagem.</p>


      <p>As imagens podem ter as dimensões que desejar</p>


      <p>A primeira imagem será a miniatura principal que o consumidor vai ver nas pesquisas. Use a fotografia mais atraente do produto.</p>


      <p>Evite fotografias com pouca luminosidade e sem foco.</p>
  <hr class="line"></hr>
      <p><b>Informações</b></p>


      <p>Seja objetivo no campo nome</P>


      <p>Palavras-chave irá ajudar a atrair compradores para o seu produto use até 5 palavras chave</P>


      <p>
        No campo descrição certifique-se de incluir informações sobre o tamanho, ou qualquer característica única.</p>
  <hr class="line"></hr>
    <p><b>Preço e Quantidade</b></p>

      <p>Digite o preço do seu produto sem o custo de envio.</p>


      <p>Seja sincero na quantidade adicionada</p>

    </div>
  </div>
</div>
