<div class="subcontent">
  <div class="block">
       <% @conversation = Conversation.new %>
    <%= form_for @conversation do |f| %>
    <div class="doubt">
   
          
      <%= hidden_field :conversation_participants, :vitrine_id, :value => @vitrine.user_id, :name => "conversation_participant[first_name]" %>
      <ul>
        <li><%= text_area :message, :body, :rows => 3, class: 'form-control'%></li>
      </ul>
    </div>
    <div><%= f.button 'Enviar', :class => 'btn' %></div>
    <% end %>
  </div>
</div>
