<% @dispute.comments.each do |comment| %>
    <div class="comment">
      <#%= image_tag comment.user.avatar.message %>
      <%= link_to comment.user.full_name, user_path(comment.user) %>
      <%= comment.comment %>
     
    </div>
<% end %>

