<table>
  
  <% @comments.each do |comment| %>
    <tr>
      <td>
        <%= image_tag  comment.user.avatar.url(:mobile).to_s %>
         <%= link_to comment.user.first_name, user_path(comment.user) %>

      </td>

      <td>
              
        
        <%= comment.comment %>
      </td>
      <td>
        <%= timeago_tag(comment.created_at, :nojs => true, :date_only => true) %>
      </td>
      <tr>
  <% end %>
  
</table>

