<% @comments.each do |comment| %>
    <div class="comment">
           
                    
      
      <%= link_to comment.user.first_name, user_path(comment.user) do %>
          <%= image_tag  comment.user.avatar.url(:mobile).to_s %>
        <% end %>
      <%= comment.comment %>
     
    </div>
<% end %>

