<% title  "Reclamação"  %>

<!--MARKETING  -->

<% if @dispute.present? %>

<!--USER CREATE  -->
<div class="box8">

  <div class="block margin_top">
         <div class="subcontent">

 <div class="grey_box"> 
       
<h2>Reclamação 
</h2>
<%= @dispute.transaction_id %>
 <% if params[:status] == "open" %>

                         <span class="sendship_sent">Aberto</span>
          
                       <% end %>

<%= link_to "Ver Reclamação", edit_order_dispute_path %>
  </div>


  </div>
     
</div>
 </div>
 </div>
 <% end %>


