/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.


*= require_self

*= require morris
*= require chat
*= require nav_bar
*= require block
*= require img_preview
*= require buton
*= require website_menu
*= require feedbacks
*= require flash
*= require formstatic
*= require container
*= require normalize
*= require order
*= require tables
*= require footer
*= require custom_popover
*= require header
*= require icons
*= require product
*= require vitrine
*= require will_paginate
*= require wmd
*= require shopcart
*= require drop_down
*= require search
*= require details
*= require jquery.fancybox
*= require jquery.raty
*= require select
*= require token-input
*= require jquery.webui-popover
*= require lightslider.min
*= require select2


 */

.title {
  border-bottom: 1px solid #000;
  height: 10px
}
.list_inline li {
  height: 10px;
  display: inline
}
.space {
  height: 10px
}
.red {
  background: #f23b27;
  color: #fff
}
.error {
  width: auto;
  padding: 5px;
}
.error p, .error h1, .error h2 {
  margin-top: 10px
}
