/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.


*= require_self

*= require morris
*= require chat
*= require social-share-button
*= require help
*= require nav_bar
*= require block
*= require buton
*= require website_menu
*= require feedbacks
*= require flash
*= require formstatic
*= require container
*= require order
*= require tables
*= require footer
*= require header
*= require icons
*= require product
*= require vitrine
*= require will_paginate
*= require shopcart
*= require nprogress
*= require search
*= require details

*= require jquery.raty
*= require tipsy
*= require select2
*= require breakpoints
*= require dropzone
*= require markdown
*= require stretchtext
*= require carousel
*= require bettertabs
*= require responsive_tabs
*= require tag
*= require tags
*= require liquidcarousel

*= require main_mobile
*= require normalize_mobile


 */




/* require normalize*/



.title {
  border-bottom: 1px solid #000;
  height: 10px
}
.list_inline li {
  height: 10px;
  display: inline
}
.space {
  height: 10px
}
.red {
  background: #f23b27;
  color: #fff
}
.error {
  width: auto;
  padding: 5px;
}
.error p, .error h1, .error h2 {
  margin-top: 10px
}

.list a {font-size:12px}


#token-input-product_tags {display: none;}






