

div.bettertabs {}

div.bettertabs ul.tabs {   padding: 0 8px;
  margin: 0;
  height: 35px;
  font-weight: normal;
  font-size: 14px;
  text-align: center;

      margin-bottom: -18px;
    background: -webkit-linear-gradient(to bottom,rgba(0,0,0,.14),rgba(0,0,0,.03) 3px,transparent);
    background: linear-gradient(to bottom,rgba(0,0,0,.14),rgba(0,0,0,.03) 3px,transparent);
    z-index: 0;
    zoom: 1;


}
div.bettertabs ul.tabs li {


  display: inline; float: left; height: 24px; line-height: 24px;
  list-style: none outside none;
  margin-right: .5em; padding-right: .5em; padding-left: .5em;
  position: relative; top: 1px;


  color: #393939;
  padding: 5px 8px;
  padding-bottom: 4px;


}
div.bettertabs ul.tabs li.active { height: 25px; /*background-color: #fff;*/ border-bottom: none;/*border: solid 1px #CCC;*/
border-bottom: none;
/*background-color: #fff;*/
color: #555;

cursor: default; }
div.bettertabs ul.tabs li.active a.active  { color: #0047b7; font-weight:bold; border-bottom:2px solid #e5b900}

div.bettertabs ul.tabs li a {  text-decoration: none; float: left; }
div.bettertabs ul.tabs li a:link,
div.bettertabs ul.tabs li a:visited { color: #444; }
div.bettertabs ul.tabs li a:hover { color: #000; border-bottom:2px solid #e5b900 }
div.bettertabs ul.tabs li a:active { color: #0047b7; }
div.bettertabs ul.tabs li a.ajax-loading { color: #666; }

div.bettertabs div.content {  /* background-color: #fff; */clear: left; overflow:hidden }
div.bettertabs div.content.hidden { display: none; }













