/* TOP BOX  */

.margin_top {margin-top:50px}
.white {background-color:#fff}
.tip_box {


       -moz-border-radius: 3px;
    -webkit-border-radius: 3px;


    margin-bottom: 20px;
    color: #4c4a42;
    text-align: left;
    border: solid 1px #eee;
    border-radius: 3px;
    width:auto;

   
       background-color: #f7f7f7;
  padding:20px; 
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 10px;
}
   
   

.container{width:100%;height:100%;overflow:auto}




.ul_disc ul {
    list-style-type: disc;
}

.tip_box h2 {
    color: #111;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 700;
    font-weight:bold
}

.tip {
    color: #777;
    padding: 5px;
}

.block3 input[type=checkbox],.block5 input[type=checkbox] {
    float: left;
    margin-right: 5px;
}

.line {
    background-color: rgba(0,0,0,0.07);
    border-width: 0;
    color: rgba(0,0,0,0.07);
    height: 1px;
    margin: 0 -8px 16px;
}

.block {
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;

    -ms-word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    position: relative;

    width: auto;
    word-wrap: break-word;
    white-space: normal;
    display: block;
 

    margin: 0px auto;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
      
overflow:hidden;
   
}












.block_search {
background-color: #f5f5f5;
border-bottom: 1px solid #e5e5e5;
    margin-bottom: 5px;

    border-spacing: 5px;
    border-collapse: separate;
}

.sort {
    color: #666;

}

.block_message {
  border-bottom: 1px solid #e5e5e5;
    padding: 10px;

}

.list {
    display: block;

}

.list li {
    display: block;
    margin-bottom: 5px;
}

.list h1 {
    font-size: 20px;
}

.margin_top {
    margin-top: 20px;
}

.block_pagination {
    width: 100%;
    position: relative;
    display: block;
    background: #fff;
}

.block h1 {
       color: #5a5552;
    font-size: 18px;
      }

.block h4 {


   text-decoration: none;
line-height: 15px;
color: #333;
font-size: 15px;

}

.content,.content_help,.content_footer {
    content: '';
    display: block;
    background: #fff;
   /* padding:10px;*/
    overflow: auto;

  
 
   

}

.subcontent {
    content: '';
    display: block;
    background: #fff;
   /* padding: 10px;*/
    overflow: auto;

  
  
    }

.subcontent_top {
    content: '';
    display: block;
    background: #fff;
    /*padding: 10px;*/
    overflow: auto;
clear:both;
    
}

.content_help h2 {
    font-weight: 700;
    margin-top: 10px;
    font-size: 14px;
}

.content_footer h2 {
    font-weight: 700;
    margin-top: 10px;
    font-size: 15px;
}

.section_bar ul li {
    display: inline-block;
}

.left_info li span,.left_info li h2,.left_info li h3,.left_info li b {
    float: left;
    display: block;
}

.left_info h3 {
    margin-left: 3px;
    margin-top: 1px;
}

.left_info b {
    margin-left: 3px;
    margin-top: 1px;
}

.left_info a {
    margin-left: 3px;
    margin-top: 5px;
}

.left_info span {
    margin-top: 2px;
}

.left_info li {
    display: block;

    overflow: hidden;
    margin-bottom: 3px;
}

.sumary li,.address li {
    margin-bottom: 5px;
    padding-bottom: 2px;
}

.left_info h1 {
    font-size: 16px;
    font-weight: 700;
}

.h1do {
    color: #5ea00d;
}

.h1notdo {
    color: #cd3310;
}

.acordo {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #E8E8E8;
    border-width: 1px 0;
    font-size: 9px;
    background: #F9F9F9;
    overflow: auto;
    height: auto;
    word-wrap: break-word;
    -ms-word-wrap: break-word;
    white-space: normal;
    max-width: 400px;
    max-height: 400px;
}

.acordo p {
    display: inline-block;
}

#home_login input {
    width: 100%;
}

#session_list li {
    padding: 5px;
}





.profile_list li {margin-bottom: 7px}
