

.btn_green {
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 5px 10px 5px 10px;
  border: solid #229c18 1px;
  text-decoration: none;



    background: #74b20e;
    background: linear-gradient(to bottom,#74b20e 0,#5b8c0b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#74b20e', endColorstr='#5b8c0b', GradientType=0);
    


}

.btn_green:hover {
  opacity: 0.6;
  filter: alpha(opacity=60);
}


.btn_cart {
    position: relative;
    bottom: 0;
    right: 0;
    background: #2142a2 none repeat scroll 0 0;
    border: 1px solid #2d4793;
    margin: 15px 0 0 5px;
    padding: 10px 17px;
    font-weight: 400;
    font-size: .9333em;
    color: #FFF;
}

.btn_cart:hover {
    text-decoration: none;
    opacity: .6;
    filter: alpha(opacity=60);
}

.btn_cart:active {
    background-image: none;
    opacity: .8;
    filter: alpha(opacity=80);
}

.btn {
  background: #7296c9;
  background-image: -webkit-linear-gradient(top, #7296c9, #447ac8);
  background-image: -moz-linear-gradient(top, #7296c9, #447ac8);
  background-image: -ms-linear-gradient(top, #7296c9, #447ac8);
  background-image: -o-linear-gradient(top, #7296c9, #447ac8);
  background-image: linear-gradient(to bottom, #7296c9, #447ac8);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 5px 10px 5px 10px;
  border: solid #567bb0 1px;
  text-decoration: none;
}




.btn:hover {
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.btn_orange {
  background: #ffe28e;
  background-image: -webkit-linear-gradient(top, #ffe28e, #ffd65e);
  background-image: -moz-linear-gradient(top, #ffe28e, #ffd65e);
  background-image: -ms-linear-gradient(top, #ffe28e, #ffd65e);
  background-image: -o-linear-gradient(top, #ffe28e, #ffd65e);
  background-image: linear-gradient(to bottom, #ffe28e, #ffd65e);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: Arial;
  color: #333;
  font-size: 12px;
  padding: 5px 10px 5px 10px;
  border: solid #eabb32 1px;
  text-decoration: none;
}

.btn_orange:hover {
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.btn_grey {
  background: #fcfcfc;
  background-image: -webkit-linear-gradient(top, #fcfcfc, #eeeeee);
  background-image: -moz-linear-gradient(top, #fcfcfc, #eeeeee);
  background-image: -ms-linear-gradient(top, #fcfcfc, #eeeeee);
  background-image: -o-linear-gradient(top, #fcfcfc, #eeeeee);
  background-image: linear-gradient(to bottom, #fcfcfc, #eeeeee);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: Arial;
  color: #333333;
  font-size: 12px;
  padding: 5px 10px 5px 10px;
  border: solid #d5d5d5 1px;
  text-decoration: none;
}

.btn_grey:hover {
  opacity: 0.6;
  filter: alpha(opacity=60);
}




.btn_red {
  background: #d37373;
  background-image: -webkit-linear-gradient(top, #d37373, #ca4c4c);
  background-image: -moz-linear-gradient(top, #d37373, #ca4c4c);
  background-image: -ms-linear-gradient(top, #d37373, #ca4c4c);
  background-image: -o-linear-gradient(top, #d37373, #ca4c4c);
  background-image: linear-gradient(to bottom, #d37373, #ca4c4c);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 5px 10px 5px 10px;
  border: solid #cc1e1e 1px;
  text-decoration: none;
}

.btn_red:hover {
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.btn_small {
    padding: .51rem 1.2rem;
    font-size: .6rem;
    font-weight: 700;
}

.btn_big {
    padding: .8rem 1.5rem;
    font-size: .8rem;
    font-weight: 700;
}




.sell_button {

    vertical-align: baseline;
    float: left;
    
    margin-left: 10px;
}



.sell_button_mobile {

    vertical-align: baseline;
    float: left;
   
    margin-left: 10px;
    overflow: auto;


position: relative;
}





.fb_button:hover {
  opacity: 0.6;
  filter: alpha(opacity=60);
}
