.uplad_button {
    height: 20px;
    width: 50px;
}

.btn_cart {
    position: relative;
    bottom: 0;
    right: 0;
    background: #2142a2 none repeat scroll 0 0;
    border: 1px solid #2d4793;
    margin: 15px 0 0 5px;
    padding: 10px 17px;
    font-weight: 400;
    font-size: .9333em;
    color: #FFF;
}

.btn_cart:hover {
    text-decoration: none;
    opacity: .6;
    filter: alpha(opacity=60);
}

.btn_cart:active {
    background-image: none;
    opacity: .8;
    filter: alpha(opacity=80);
}

.btn {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 12px;
    font-family: arial,helvetica,sans-serif;
    padding: 5px 15px;
    text-decoration: none;
    display: inline-block;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
    font-weight: 700;
    border: solid #304b98;
    background-color: #185cb4;
    color: #fff;
    border-width: 1px 1px 1px;
}

.btn:hover {
    border: solid #304b98;
    background-color: #314d9c;
    border-width: 1px 1px 1px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
}

.btn_orange {
    border: solid #ffc826;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 12px;
    font-family: arial,helvetica,sans-serif;
    padding: 5px 15px;
    text-decoration: none;
    display: inline-block;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
    font-weight: 700;
    color: #555;
    background-color: #ffd65e;
    border-width: 1px 1px 1px;
}

.btn_orange:hover {
    border: solid #f7b800;
    background-color: #ffc92b;
    border-width: 1px 1px 1px;
}

.btn_grey {
    border: solid #999;
    font-size: 12px;
    font-family: arial,helvetica,sans-serif;
    padding: 5px 15px;
    text-decoration: none;
    display: inline-block;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
    font-weight: 700;
    color: #555;
    background-color: #ddd;
    border-width: 1px 1px 1px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.btn_grey:hover {
    border: solid #7A7A7A;
    background-color: #EEE;
    border-width: 1px 1px 1px;
}

.btn_red {
    border: solid #cc1e1e;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 12px;
    font-family: arial,helvetica,sans-serif;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    font-weight: 700;
    color: #FFF;
    background-color: #E33F3F;
    border-width: 1px 1px 1px;
}

.btn_red:hover {
    border: solid #a41818;
    background-color: #d11e1e;
    border-width: 1px 1px 1px;
}

.btn_small {
    padding: .51rem 1.2rem;
    font-size: .6rem;
    font-weight: 700;
}

.btn_big {
    padding: .8rem 1.5rem;
    font-size: .8rem;
    font-weight: 700;
}

.color {
    background: #4c69ba;
    background: -webkit-gradient(linear,center top,center bottom,from(#4c69ba),to(#3b55a0));
    background: -webkit-linear-gradient(#4c69ba,#3b55a0);
    background: linear-gradient(#4C69BA,#3B55A0) repeat scroll 0 0 transparent;
    border: none;
    -webkit-border-radius: 2px;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    height: 20px;
    line-height: 20px;
    padding: 0;
    text-shadow: 0 -1px 0 #354c8c;
    white-space: nowrap;
}

#shop_button a {
    color: #333;
}

#sell_button {

    vertical-align: baseline;
    float: left;
    margin-top: 13px;
    margin-left: 10px;
}

.horizontal_buttons {
    vertical-align: baseline;
}

.horizontal_buttons li {
    display: inline-block;
}
