.scroll-img {
  border: 1px solid red;
  width: 680px;
  height: 142px;
  overflow: hidden;
  font-size: 0;
}
.scroll-img ul {
  width: 700px;
  height: 600px;
  margin: 0;
}
.scroll-img ul li {
  display: inline-block;
  margin: 10px 0 10px 10px;
}
#demo4.scroll-img ul,
#vitrine_carousel.scroll-img ul {
  width: 1500px;
}
