#table {display:table;}



.messagebox {display: table; border-collapse: collapse; width:100%;line-height: 18px; font-size:14px}

.row {display:table-row; width:100%; border-top: 1px solid #e9e9e9;}
.cell{display:table-cell;}


.avatar {padding:10px; }


.messagecontent  {width:94%}
.messagebody  {width:70%}


#message_box {
  max-height: 640px
}
