.messagebox {display: table; border-collapse: collapse; width:100%;line-height: 18px; font-size:14px}

.row {display:table-row; width:100%;

border-top: 1px solid #e9e9e9;}
.cell{display:table-cell;}


.avatar {padding:10px; }


.messagecontent  {width:94%}
.messagebody  {width:70%}


#message_box {
  max-height: 340px;
  background:#eee;
  overflow-y: scroll;
      }

.chatboxhead {background: #122d98;padding-top:10px;padding-bottom:10px;

-webkit-border-radius: 3px 3px 0 0;
border-radius: 3px 3px 0 0;
}
.chatboxhead span {color:#fff;font-size:18px;font-weight:bold;margin-left:10px}


.chatboxcontent { overflow-y: scroll;
}

.body div{ float:left;padding:10px}
.body {border-bottom: 1px solid #000}


tr.body  td {
  border-bottom:1px solid #e0e0e0;
}

.chatboxinput {padding:30px;background:#fff;border:1px solid #ddd;
}

.chatboxinput textarea 
{
    
    height: 4em;
}
