@import "breakpoint";

$mobile: min-width 320px;
$tablet: min-width 768px;
$notebook: min-width 992px;
$desktop: min-width 1200px;

#container:before, #container:after {
  display: table;
  content: "";
  zoom: 1;
  *display: inline;
}
#container:after {
  clear: both
}





@include breakpoint($mobile) {

  #container {
    min-width: 320px;
    background: none repeat scroll 0% 0%;
    margin: 0px auto;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    max-width: 1000px;
    display: block;
    line-height: 1.34;
  }
  #header {
    width: 100%;
  }
  .box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9, .box10, .box11, .box12, .box13 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: 100%;
  }
  }


@include breakpoint($tablet) {
  #container {
    min-width: 768px;
    background: none repeat scroll 0% 0%;
    margin: 0px auto;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    max-width: 1000px;
    display: block;
    line-height: 1.34;
  }
  #header {
    width: 100%;
  }
  .box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9, .box10, .box11, .box12, .box13 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: 100%;
  }

}


@include breakpoint($notebook) {

  #container {
    min-width: 992px;
    background: none repeat scroll 0% 0%;
    margin: 0px auto;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    max-width: 1000px;
    display: block;
    line-height: 1.34;
  }
  #header {
    width: 100%;
  }
  .box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9, .box10, .box11, .box12, .box13 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: 100%;
  }
}



@include breakpoint($desktop) {

  #container {
    min-width: 1200px;
    background: none repeat scroll 0% 0%;
    margin: 0px auto;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    max-width: 1200px;
    line-height: 1.34;
    display: block;
  }
  #header {
    width: 100%;
  }
  .box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9, .box10, .box11, .box12, .box13 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
  }
  .box1 {
    width: 100%;
  }
  .box2 {
    width: 91.66666667%;
  }
  .box3 {
    width: 83.33333333%;
  }
  .box4 {
    width: 75%;
  }
  .box5 {
    width: 66.66666667%;
  }
  .box6 {
    width: 58.33333333%;
  }
  .box7 {
    width: 50%;
  }
  .box8 {
    width: 41.66666667%;
  }
  .box9 {
    width: 33.33333333%;
  }
  .box10 {
    width: 25%;
  }
  .box11 {
    width: 16.66666667%;
  }
  .box12 {
    width: 8.33333333%;
  }
  .box13 {
    width: 3.33333333%;
  }
}
