.header h1 {
  font: 19px;
  color: #275999;
  margin-left: 10px;
  margin-top: 10px;
}
.orange {
  color: #f3903f
}
.size {
  height: 200px;
  width: 100px;
  border: solid 1px #000;
  display: none
}
.user_bar li:nth-child(3n+1) {
  padding-right: 5px;
}


/* =Showcase produto */


/* AJAX TAB PRODUTO */


/* USER CREATE PAGE MARKETING*/

#marketing {
  padding: 5px;
  color: #000000;
}
#marketing span {
  background-image: url("icons.png"); 
  
  width: 16px;
  height: 12px;
  float: left;
  margin-top: 3px;
  margin-right: 8px;
 background-position: -231px -147px;
            width: 16px;
            height: 11px;
}





#marketing h1 {
  padding-top: 5px;
  padding-bottom: 7px;
  color: #242424;
  font-size: 23px;
  letter-spacing: 1px;
  text-shadow: 0px 1px 0px #ffffff;
}
#marketing ul {
  margin-bottom: 10px;
  margin-top: 10px;
  display: block;
  list-style: none;
}
#marketing li {
  color: #444;
  font-size: 13px;
}
.acordo p {
  font-size: 11px;
  color: #666
}
.file-wrapper {
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  position: relative;
}
.file-wrapper input {
  cursor: pointer;
  font-size: 100px;
  height: 100%;
  filter: alpha(opacity=1);
  -moz-opacity: 0.01;
  opacity: 0.01;
  position: absolute;
  right: 0;
  top: 0;
  display: block;
}
.breadcrumbs {
  padding: 5px;
}
.breadcrumbs a {
  color: #888;
}
