.header h1 {
  font: 19px;
  color: #275999;
  margin-left: 10px;
  margin-top: 10px;
}
.orange {
  color: #f3903f
}
.size {
  height: 200px;
  width: 100px;
  border: solid 1px #000;
  display: none
}
.user_bar li:nth-child(3n+1) {
  padding-right: 5px;
}


.bigger {font-size:14px}


/* =Showcase produto */


/* AJAX TAB PRODUTO */


/* USER CREATE PAGE MARKETING*/

#marketing {
  padding: 5px;
  color: #000000;
}





#marketing h1 {
  padding-top: 5px;
  padding-bottom: 7px;
  color: #242424;
  font-size: 23px;
  letter-spacing: 1px;
  text-shadow: 0px 1px 0px #ffffff;
}
#marketing ul {
  margin-bottom: 10px;
  margin-top: 10px;
  display: block;
  list-style: none;
}
#marketing li {
  color: #444;
  font-size: 13px;
}
.acordo p {
  font-size: 11px;
  color: #666
}



.breadcrumbs{
    width: 780px;
    margin: 10px;
    display: block;
    float: left;
  
  
  font-size: 16px;
    line-height: 21px;
    padding: 0 0 0 0;
  
  }
.breadcrumbs, .breadcrumbs a {
    color: #222;
    text-align: left;
    text-decoration: none;
    font-size: 16px;
    line-height: 21px;
  }

.address_list li { margin-bottom:10px}




.address_list  .label, input {
    display: block;
    }


/*.address_list  .label {
    display: block;
    float: left;
    padding-top: 10px;
    font-family: "Helvetica", Arial, sans-serif;
    padding-right: 10px;
    text-align: right;
    width: 130px;
}
*/

.margin_menu {margin-top:50px}




.horizonal_list  li {
     float: left;
     margin-right: 10px;
     display: inline-block;
     float:left;
padding:5px;

width:100px

}


 
input[type="checkbox"] {
    width: 24px;
    height: 24px;
    vertical-align: bottom;
}
label.checkbox {
    vertical-align: top;
    line-height: 24px;
    margin: 2px 0;
    display: block;
    height: 24px;
}










.div_select {
        line-height: 200%;
}
.div_select label {
    text-align: right;
    float: left;
    margin-right: 5px;
    display:inline-block;
    }
.div_select input{
    float: left;
}

.sendship {padding: 2px;
;width:80px;height:15px; background:orange;color:#fff;
  -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px

}

.sendship_sent {padding: 2px;
;width:80px;height:15px; background:green;color:#fff;
  -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px

}


.feed_buy {padding: 2px;
;width:80px;height:15px; background:blue;color:#fff;
  -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px

}

.feed_sell {padding: 2px;
;width:80px;height:15px; background:orange;color:#fff;
  -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px

}


.greybox {background:#f8f8f8}
.font_size {font-size:14px}
.deleted {border:solid 2px red; padding:20px; color red}
