/*------------------------------------------------------------------------------------*/

#drop {
  height: 30px;
  margin: 0px auto;
  box-sizing: border-box;
  width: 100%;
  padding: 0 9px 0 3px;
  overflow: hidden;
  white-space: nowrap;
  height: 33px;
  position: relative;
  margin: 0;
  padding: 0 9px 0 3px;
  /*border-top: 1px solid rgba(0, 0, 0, 0.17);*/
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  height: 33px;
  /*background: #f5f5f5 none repeat scroll 0% 0%;*/
  background: #f5f5f5;
  background: #124F9E;
}
#drop a {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 12px;
  margin-left: 5px;
  color: #777;
  color: #fff;
}
.left_links {
  margin-top: 5px;
}
.left_links h1 {
  font-size: 18px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  margin-right: 10px;
  border-bottom: 1px dotted #ccc;
}
.left_links li a {
  margin-bottom: 5px
}
.left_links h2 a {
  font-weight: bold;
}
.left_links {
  min-height: 100%;
  padding: 10px
}
.inner_links {
  margin-left: 15px;
  margin-top: 3px
}
.inner_links a {
  color: #333
}
.inner_drop {
  margin: 0px auto;
  min-width: 960px;
  max-width: 1250px;
  box-sizing: border-box;
  margin: 0px auto !important;
  padding-top: 5px
}
.inner_drop:before, .inner_drop:after {
  content: "";
  display: table;
}
