
.feedback-container .feedback-container table, .feedback_view_selector {
  width: 100%;
}

.completed_feedback_table th {
  text-align: left;
}
.no_awaiting {

  text-align: center;
  height: 30px;
font-weight:bold;


  background: #ebf3fd;
  border: none;
  color: #004B91;
  padding: 10px;
  display:block;
  border:dashed 1px #c9dcf2;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;

}
.awaiting_feedback_table td, .completed_feedback_table td {
  padding: 4px;
    border-bottom: #ddd 1px solid;

}
.awaiting_feedback_table .comment_tr td {
  padding-bottom: 20px;
  width:100%;
 
}
.awaiting_feedback_table input[type="radio"] {
  vertical-align: middle;
}

.comment_tr {width:100%}

.comment_tr td {display:block;width:99.9%;clear:both}

.awaiting_feedback_table textarea {
  width: 100%;
  height: 100px;
  font-size: 12px;
  margin-bottom: 5px;
}
.completed_feedback_table thead td {
  border: #eee 1px solid;
  vertical-align: middle;
}
.completed_feedback_table tbody td {
  padding-top: 10px;
  padding-bottom: 10px;
}
.completed_feedback_table .comment {
  width: 80%;
}
.feedback_view_selector {
  margin-bottom: 12px;
  text-align: center;
}
.awaiting_feedback_table {

    position: relative;
     margin: 10px auto;
    padding: 0;
    width: 100%;
    height: auto;
    border-collapse: collapse;
   }


   .awaiting_feedback_table tr {
    margin: 0;
    padding: 0;
    border: 0;
    border: 1px solid #999;
    width: 100%;
}
