@import "breakpoint";

$mobile: min-width 320px;
$tablet: min-width 768px;
$notebook: min-width 992px;
$desktop: min-width 1200px;


.inner_footer:before, .inner_footer:after {
  content: "";
  display: table;
}

#footer {
  line-height: 15px;
  overflow: hidden;
  padding: 20px 0 10px;
  text-align: left;
  margin: 0 auto;
  display: block;
  font-size: 11px;
  padding-bottom: 162px;
  background: #fff;
  width: 100%;
  border-top: 1px solid #ccc
}
#footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.footer-copy {
  float: left;
  width: 230px;
}

#security_footer {
  float: right;
  width: 230px;
}
.footer-links {
  float: left;
  margin-bottom: 0;
  width: 390px;
}
.footer-links li {
  float: left;
  margin-bottom: 10px;
  width: 180px;
}



@include breakpoint($mobile) {
  .inner_footer {
    margin: 0px auto;
    min-width: 320px;
max-width: 1000px;

    box-sizing: border-box;
    overflow: auto;
  }

  }

@include breakpoint($tablet) {

  .inner_footer {
    margin: 0px auto;
    min-width: 768px;
max-width: 1000px;

    box-sizing: border-box;
    overflow: auto;
  }


}


@include breakpoint($notebook) {

  .inner_footer {
    margin: 0px auto;
    min-width: 992px;
max-width: 1000px;

    box-sizing: border-box;
    overflow: auto;
  }


}


@include breakpoint($desktop) {

  .inner_footer {
    margin: 0px auto;
    min-width: 1200px;
max-width: 1200px;

    box-sizing: border-box;
    overflow: auto;
  }


}
