#footer {
  line-height: 15px;
  overflow: hidden;
  padding: 20px 0 10px;
  text-align: left;
  margin: 0 auto;
  display: block;
  font-size: 11px;
  padding-bottom: 162px;
  background: #fff;
  width: 100%;
  border-top: 1px solid #ccc
}
#footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#footer-copy {
  float: left;
  width: 230px;
}
#footer-links {
  float: left;
  margin-bottom: 0;
  width: 390px;
}
#footer-links li {
  float: left;
  margin-bottom: 10px;
  width: 180px;
}
#footer-logo {
  background: url(/assets/logo13sb.png) no-repeat;
  display: block;
  height: 25px;
  margin-bottom: 10px;
  overflow: hidden;
  text-indent: -9999em;
  width: 100px;
}
.inner_footer {
  clear: both;
  margin: 0px auto;
  max-width: 1000px;
  min-width: 960px;
}
.inner_footer:before, .inner_footer:after {
  content: "";
  display: table;
}
