/* BLACK TOPBAR  */

@import "breakpoint";

$mobile: min-width 320px;
$tablet: min-width 768px;
$notebook: min-width 992px;
$desktop: min-width 1200px;

.mobile_category a{position: relative;font-weight:bold;float:left;margin-left:10px;margin-top: 15px}


#header {
  display: block;
  position: relative;
  -webkit-font-smoothing: antialiased;
  list-style: outside none none;
  box-sizing: border-box;
  margin: 0px auto;
  width: 100%;

   top: 0;
  left: 0;
  z-index: 999;


 }


 #logo {
   float: left;
   display: block;
   vertical-align: middle;

 }
 #logo a {
   margin-top: 0;
   cursor: pointer;
   text-align: right;
   display: inline-block;
   background-repeat: no-repeat;
   background-size: auto auto;
   display: block;
   outline: medium none;
   overflow: hidden;
   text-indent: -999px;
   white-space: nowrap;
   z-index: 2;




   margin-right:15px;
   margin-left:5px;

   width: 160px;
   height: 35px;

   margin-top:6px


 }
 #logo a:hover span {
   opacity: 0.6;
   filter: alpha(opacity=60);
 }


 .blue_bar {      
   height:55px;



   background:#1a49ab;
   background:#305ab2; 

 
                              }
 .inner_blue  {

   height:45px;
     width:100%;
   display: block;
   
    background: #20399a;

 }

 .icons_bar  {


   width:100%;
   display: block;
   white-space: nowrap;
   height: 33px;

 
 

        border-bottom: 1px solid #ebebeb;
    outline-width: 0;
    outline: none;


            
               background: #fff; 
  
 }




 @include breakpoint($mobile) {

   .icons_bar  {




     width:100%;
     display: block;
     white-space: nowrap;
     height: 45px;
  



   }


   .blue_bar, .inner_blue {

     display:block;

     font-weight:bold;



   }

   .inner_blue {

     height: 35px;




   }
   .log_topbar {
     font-weight:bold;
   }


   .inner_search, .inner_icons, .inner_tab, .inner_blue_icons{
     margin: 0px auto;
     min-width: 320px;
     max-width: 1000px;
     box-sizing: border-box;

   }

   .logo {
     display: block;
     margin-top: 10px;
     margin-left:10px;
     width:130px;
     height:40px;



   }


  #search_container {

     width: 65%;

     float: left;
     display: block;
     margin-top:10px;
     margin-left:10px;

     margin-left: 5px;
     margin-top: 5px;
     max-width: 320px;

     padding: 0;
     position: relative;

   }


 }








 @include breakpoint($tablet) {


   .blue_bar, .inner_blue {

     display:block;

     font-weight:bold;
  

   }

   .inner_blue {

     height: 35px;




   }
   .log_topbar {
     font-weight:bold;
   }



   .inner_bar, .inner_search, .inner_icons, .inner_blue_icons {
     margin: 0px auto;
     min-width: 768px;
     max-width: 1000px;
     box-sizing: border-box;
     /*overflow: auto;*/
   }


   .logo {
     display: block;
     margin-top: 10px;

     width:130px;
     height:40px;



   }
   .icons_bar  {




     width:100%;
     display: block;
     white-space: nowrap;
           height: 33px;

       }


 }


 @include breakpoint($notebook) {
   .blue_bar, .inner_blue {


   }
   .inner_bar,  .inner_search, .inner_icons, .inner_blue_icons  {
     margin: 0px auto;
     min-width: 992px;
     max-width: 1000px;
     box-sizing: border-box;
     /*  overflow: auto;*/
   }


   .logo {
     display: block;
     margin-top: 10px;
     width:130px;
     height:40px;


   }


 }

 @include breakpoint($desktop){
   .inner_bar, .inner_search, .inner_icons, .inner_blue_icons {
     margin: 0px auto;
     min-width: 960px;
     max-width: 1300px;

     box-sizing: border-box;
     /*  overflow: auto;*/



   }

   .logo {
     display: block;


     width:180px;
     height:50px;



   }


 }




 .info_area span {
   border-right: 1px solid #6b6b6b;
   line-height: 0.2em;
   height: 10px;
   display: inline-block;
   vertical-align: middle;
   margin-right: 10px
 }


 .inner_bar:before, .inner_bar:after {
   content: "";
   display: table;

 }


 .inner_icons:before, .inner_icons:after {
   content: "";
   display: table;

 }


 .sell_button {
   vertical-align: baseline;

   z-index: 100;
   padding: 0;
   float: right;
 }

 /*  TOP BAR USER LOG IN */

  .log_topbar_before {
   float: right;
   overflow: auto;
   vertical-align: baseline;
   width: auto;
  /* position: relative;*/
margin-right:30px;
   margin-top:10px
    }



 .log_topbar_after {
   float: right;
   overflow: auto;
   vertical-align: baseline;
   width: auto;
  /* position: relative;*/
margin-right:5px;
   margin-top:15px
    }



 ul.log_topbar_after li {
   display: inline;
 }
  ul.log_topbar_before li {
   display: inline;
 }



 .log_topbar_after li, .log_topbar_before li, .info_area li {
   float: left;
   margin-right: 1px;
   margin-left: 7px;
   vertical-align: middle;
   display: list-item;
   text-align: -webkit-match-parent;
 }
 .log_topbar_after ul li a, .log_topbar_before ul li a, .info_area ul li a {
   display: block;
   vertical-align: middle;
   float: right;
   font-weight:bold;
 color:#fff 
   }
 .help {
   margin-right: 10px;
   font-size: 13px;
   margin-top: 10px
 }
 .log_topbar_after ul, .log_topbar_before ul,  .info_area ul {
   display: block;
   vertical-align: middle;
   float: right;
   list-style: outside none none;
  margin-right:10px 
 }
 .top_links {
   padding-top: 1px;
   float: right
 }
/* .log_topbar span {
   border-right: 1px solid #fff;
   line-height: 0.2em;
   height: 10px;
   display: inline-block;
   vertical-align: middle;
   margin-right: 10px;


 }*/


.mobile_nav {margin-top:5px;display:block;width:100%;border-bottom:solid 1px #f1f1f1}

.mobile_search {   background: #122d98;display:block;width:100%}

.link_mob {display:block;float:right;margin-top:15px;margin-right:10px;font-weight:bold}
.desktop_nav {display:block;float:right}


.sell_tablet {display:block;float:right}
