



/* glue: 0.11.1 hash: 1caeb1a455 */
        .sprite-icons-paypal_cards,
.sprite-icons-logo_big,
.sprite-icons-paypal_protect,
.sprite-icons-paypal-icon,
.sprite-icons-logo,
.sprite-icons-paypal_icon2,
.sprite-icons-fb_button,
.sprite-icons-logo_small,
.sprite-icons-5star,
.sprite-icons-comodo_secure,
.sprite-icons-shipping,
.sprite-icons-4star,
.sprite-icons-3star,
.sprite-icons-2star,
.sprite-icons-youtube_circle,
.sprite-icons-twitter_circle,
.sprite-icons-pinterest_circle,
.sprite-icons-facebook_circle,
.sprite-icons-instagram_circle,
.sprite-icons-message,
.sprite-icons-truck,
.sprite-icons-vitrine,
.sprite-icons-feedback,
.sprite-icons-box,
.sprite-icons-1star,
.sprite-icons-sacola,
.sprite-icons-location,
.sprite-icons-criar-check,
.sprite-icons-lupa,
.sprite-icons-small_vitrine,
.sprite-icons-small_star,
.sprite-icons-small_like,
.sprite-icons-small_avatar {
            background-image: url('icons.png');
            background-repeat: no-repeat;
            display: inline-block;

        }
        
        .sprite-icons-paypal_cards {
            background-position: 0 0;
            width: 319px;
            height: 110px;
        }
        
        .sprite-icons-logo_big {
            background-position: 0 -110px;
            width: 291px;
            height: 57px;
        }
        
        .sprite-icons-paypal_protect {
            background-position: 0 -167px;
            width: 280px;
            height: 50px;
        }
        
        .sprite-icons-paypal-icon {
            background-position: 0 -217px;
            width: 191px;
            height: 29px;
        }
        
        .sprite-icons-logo {
            background-position: 0 -246px;
            width: 169px;
            height: 33px;
        }
        
        .sprite-icons-paypal_icon2 {
            background-position: -319px 0;
            width: 163px;
            height: 50px;
        }
        
        .sprite-icons-fb_button {
            background-position: -319px -50px;
            width: 120px;
            height: 32px;
        }
        
        .sprite-icons-logo_small {
            background-position: -319px -82px;
            width: 100px;
            height: 20px;
        }
        
        .sprite-icons-5star {
            background-position: -319px -102px;
            width: 100px;
            height: 20px;
        }
        
        .sprite-icons-comodo_secure {
            background-position: -319px -122px;
            width: 95px;
            height: 53px;
        }
        
        .sprite-icons-shipping {
            background-position: -319px -175px;
            width: 80px;
            height: 52px;
        }
        
        .sprite-icons-4star {
            background-position: -399px -175px;
            width: 80px;
            height: 20px;
        }
        
        .sprite-icons-3star {
            background-position: -419px -82px;
            width: 60px;
            height: 20px;
        }
        
        .sprite-icons-2star {
            background-position: -439px -50px;
            width: 40px;
            height: 20px;
        }
        
        .sprite-icons-youtube_circle {
            background-position: -414px -122px;
            width: 32px;
            height: 32px;
        }
        
        .sprite-icons-twitter_circle {
            background-position: -446px -122px;
            width: 32px;
            height: 32px;
        }
        
        .sprite-icons-pinterest_circle {
            background-position: -399px -195px;
            width: 32px;
            height: 32px;
        }
        
        .sprite-icons-facebook_circle {
            background-position: -431px -195px;
            width: 32px;
            height: 32px;
        }
        
        .sprite-icons-instagram_circle {
            background-position: -319px -227px;
            width: 30px;
            height: 30px;
        }
        
        .sprite-icons-message {
            background-position: -349px -227px;
            width: 27px;
            height: 23px;
        }
        
        .sprite-icons-truck {
            background-position: -419px -102px;
            width: 26px;
            height: 17px;
        }
        
        .sprite-icons-vitrine {
            background-position: -414px -154px;
            width: 25px;
            height: 20px;
        }
        
        .sprite-icons-feedback {
            background-position: -291px -110px;
            width: 25px;
            height: 25px;
        }
        
        .sprite-icons-box {
            background-position: -291px -135px;
            width: 22px;
            height: 25px;
        }
        
        .sprite-icons-1star {
            background-position: -439px -154px;
            width: 20px;
            height: 20px;
        }
        
        .sprite-icons-sacola {
            background-position: -445px -102px;
            width: 18px;
            height: 15px;
        }
        
        .sprite-icons-location {
            background-position: -459px -154px;
            width: 11px;
            height: 16px;
        }
        
        .sprite-icons-criar-check {
            background-position: -439px -70px;
            width: 16px;
            height: 11px;
        }
        
        .sprite-icons-lupa {
            background-position: -463px -102px;
            width: 15px;
            height: 15px;
                                                     margin-top:7px;
 margin-left:10px;
     position: absolute;
     left: 0;
top: 0;
        }
        
        .sprite-icons-small_vitrine {
            background-position: -463px -195px;
            width: 14px;
            height: 12px;
        }
        
        .sprite-icons-small_star {
            background-position: -463px -207px;
            width: 14px;
            height: 14px;
        }
        
        .sprite-icons-small_like {
            background-position: -376px -227px;
            width: 14px;
            height: 12px;
        }
        
        .sprite-icons-small_avatar {
            background-position: -319px -257px;
            width: 14px;
            height: 13px;
        }
        







  ul.social_list li {
            display: inline;
        }


.status_online {background:green;color:#fff;width:80px;height:20px;padding:5px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;}

  .status_offline {background:red;color:#fff;width:80px;height:20px;padding:5px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;}
