input[type='submit'] {
  margin-top: 5px;
}
input[type='file'] {
  width: 140px;
  height: 22px;
  position: relative;
  display: block;
  overflow: hidden;
  cursor: pointer;
  font-size: 10px;
}
#upload-banner-container, #upload-logo-container, #upload-avatar-container, #upload-f1-container, #upload-f2-container, #upload-f3-container, #upload-f4-container .preview-container {
  margin-right: 6px;
  margin-bottom: 6px;
}
#upload-banner-container, #upload-logo-container, #upload-avatar-container, #upload-f1-container, #upload-f2-container, #upload-f3-container, #upload-f4-container {
  border: 0px solid #cccccc;
  width: 280px;
  border-spacing: 0px;
}
.preview-container {
  width: 140px;
  height: 70px;
  border: 0px solid #cccccc;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 0px;
}
.preview-container-row {
  margin-top: 0px;
}
.hidden {
  display: none;
}
canvas {
  display: block;
  margin: 0 auto;
}
.purr {
  position: fixed;
  top: 30px;
  right: 100px;
  width: 250px;
  padding: 20px;
  background-color: #FCC;
  border: solid 2px #C66;
}
.purr:first-letter {
  text-transform: uppercase;
}
.product_img_box {
  background: #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 10px
}
.product_img li {
  float: left
}
