


/*  ICON BAR NAVIGATION */

#user_nav {
  vertical-align: baseline;
  z-index: 100;
  padding: 0;
  float: left;
 margin-top:15px;
 
  position: relative;
}

ul#user_nav  li {
    display: inline;
}

#user_nav_mobile {
  vertical-align: baseline;
  z-index: 100;
  padding: 0;
  float: left;
  margin-top: 5px;
  overflow: auto;


position: relative;

}

.mobile_nav {float:right;}

.menu-trigger {
  float:left;
  display:block;
  width:100px;
  height:50px;
  color:#fff
}

.user_nav_list ul {
 
}
.user_nav_list li {
  display: inline-block;
  vertical-align: top;
  margin-left: 8px;
}
.alert {
  font-size: 9px;
  line-height: 14px;
  color: #000;
  text-shadow: none;
  border: 1px solid #f3b81f;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #ffc120;
  background-image: -webkit-linear-gradient(top, #ffc120, #ffc120);
  background-image: -moz-linear-gradient(top, #ffc120, #ffc120);
  background-image: -o-linear-gradient(top, #ffc120, #ffc120);
  background-image: -ms-linear-gradient(top, #ffc120, #ffc120);
  background-image: linear-gradient(top, #ffc120, #ffc120);
  padding: 0 1px;
  float: right;
}
