.upload_item span {
  float: left
}
#showcase {
  padding: 0;
  margin: 0;
  margin-top: 10px;
}
#showcase a:hover img {
  opacity: 0.6;
  filter: alpha(opacity=60);
}
#showcase ul {
  float: left;
  margin: 1px 0 0;
  margin-bottom: 100px;
}
#showcase li {
  display: inline-block
}
#placeholder {
  max-width: 400px;
  max-width: 500px;
  cursor: pointer;
  cursor: hand;
}
#placeholder img {
  max-width: 100%;
  background: url('fancybox_loading.gif') center center no-repeat;
}
#itemprice {
  color: #5ea00d;
}
#item_quantity {
  width: 50px
}
#item_price {
  width: 100px
}
.filtro li {
  margin-bottom: 5px
}
#item_price {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 1;
  color: #900;
  font-size: 20px;
  font-weight: normal;
  margin-bottom:10px
}
.list_view {
  border: 1px solid #CDCDCD;
  min-height: 80px;
  margin: 0px 0px 8px;
  padding-left: 3px;
  width: 500px;
  position: relative;
  display: block;

}
.list_details ul {
  margin: 0;
  vertical-align: middle;
}
.list_details {
  float: left;
  border: 1px solid #CDCDCD;
}
.thumbnail {
  float: left;
  margin: 0px 5px 2px 0px;
  overflow: hidden;
}
.name {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
  font-size: 18px;
  border: 1px solid #CDCDCD;
}

/* --------------------------------------- */

#itemForm {
  position: relative;
  float: right;
  background: #f8f8ee
}
.feedCounter {
  float: right;
  margin-right: 65%
}
#item_name {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 1;
  color: #333;
  margin-top: 5px;
  margin-bottom: 9px;
  font-size: 24px;
  font-weight:normal;
  margin-bottom: 18px;
}
.select_item {
  display: block;
  width: 100%;
  height: 36px;
  padding: 8px 12px;
  line-height: 1.28571;
  color: #666;
  background-color: #FFF;
  background-image: none;
  border: 1px solid #999;
  border-radius: 6px;
  box-shadow: 0px 0px 3px #999 inset;
  transition: box-shadow 0.3s ease 0s;
}
.divider_left {
  position: absolute;
  top: 0;
  left: -1px;
  height: 100%;
  width: 1px;
  background: #ddd;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 1) 100%), #ddd;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, 1)), color-stop(20%, rgba(255, 255, 255, 0)), color-stop(80%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 1))), #ddd;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 1) 100%), #ddd;
  background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 1) 100%), #ddd;
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 1) 100%), #ddd;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 1) 100%), #ddd;
}
.divider_right {
  right: -1px;
  position: absolute;
  top: 0;
  height: 100%;
  width: 1px;
  background: #ddd;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 1) 100%), #ddd;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, 1)), color-stop(20%, rgba(255, 255, 255, 0)), color-stop(80%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 1))), #ddd;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 1) 100%), #ddd;
  background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 1) 100%), #ddd;
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 1) 100%), #ddd;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 1) 100%), #ddd;
}
.divider_bottom {
  position: relative;
  display: block;
  width: 100%;
  height: 1px;
  background: #ddd;
  margin-bottom: 10px;
  margin-top: 10px;
}



#searchResults {
    width: 100%;
    padding: 4px 0px;
border:solid 1px #000;
    overflow:auto
}
#searchResults .product {
    width: 170px;
    margin-bottom: 35px;
    padding: 15px 12px 0px 13px;
    border:solid 1px blue;
}


#searchResults .product::after {
    clear: both;
}
#searchResults .product::before {
    display: table;
    content: "";
    line-height: 0;
    font-size: 0;
}

.product {
    position: relative;
    display: block;
    white-space: normal;
    width: 136px;
    /*padding: 0px 18px;*/
    float: left;
    text-align: left;
    text-decoration: none;
    font-size: 10px;
    line-height: 16px;
    display: inline-block;

}

.product .productName {
  font-size: 13px;
  margin-top:5px
}
.product .by {
color: #888
}
.product .productImg {
  /*  width: 170px;
    height: 198px;*/
     display: block;
     vertical-align: top;
    text-decoration: none;
}
.product span{
    display: block;
    width: 100%;
    margin: 1px 0px;

    font-size: 1.1em;
}




.product span.price {



 color: #b12704;
   font-size: 13px;
   line-height: 19px !important;
    text-decoration: none;
}



@media (max-width: 551px) { /* ((100+5+5)x5)+1 */
    .product {
        width: 440px; /* (100+5+5)x4 */
    }
}
@media (max-width: 441px) {
    .product {
        width: 330px;
    }
}
@media (max-width: 331px) {
    .product {
        width: 220px;
    }
