

img#rating_line  {display: inline;
    margin: 0 auto;
    clear: right; }



#rating_line {height:16px;display: inline;    position: relative;}

#rating_line a {height:16px;display: inline;  width:400px}


#rating_line img a {
  display:block;
    margin:auto;
  }

#showcase {
  padding: 0;
  margin: 0;
  margin-top: 10px;
}
#showcase a:hover img {
  opacity: 0.6;
  filter: alpha(opacity=60);
}
#showcase ul {
  float: left;
  margin: 1px 0 0;
  margin-bottom: 100px;
}
#showcase li {
  display: inline-block
}
#placeholder {
  max-width: 400px;
  max-width: 500px;
  cursor: pointer;
  cursor: hand;
}
#placeholder img {
  max-width: 100%;
  
}
#itemprice {
  color: #5ea00d;
}
#item_quantity {
  width: 50px
}

.filtro li {
  margin-bottom: 5px
}
#item_price {
 
  font-weight: 700;
  line-height: 1;
  color: #900;
  font-size: 20px;
  font-weight: normal;
  margin-bottom:10px
}
.list_view {
  
  min-height: 80px;
  margin: 0px 0px 8px;
  padding-left: 3px;
  width: 500px;
  position: relative;
  display: block;

}
.list_details ul {
  margin: 0;
  vertical-align: middle;
}
.list_details {
  float: left;
  border: 1px solid #CDCDCD;
}
.thumbnail {
  float: left;
  margin: 0px 5px 2px 0px;
  overflow: hidden;
}
.name {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
  font-size: 18px;
  border: 1px solid #CDCDCD;
}

/* --------------------------------------- */

#itemForm {
  position: relative;
  float: right;
  background: #f8f8ee
}
.feedCounter {
  float: right;
  margin-right: 65%
}
#item_name {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 1;
  color: #333;
  margin-top: 5px;
  margin-bottom: 9px;
  font-size: 24px;
  font-weight:normal;
  margin-bottom: 18px;
}
.select_item {
  display: block;
  width: auto;
  height: 32px;
  padding: 8px 10px;
  line-height: 1.28571;
  color: #666;
  background-color: #FFF;
  background-image: none;
  border: 1px solid #999;
  border-radius: 6px;
  box-shadow: 0px 0px 3px #999 inset;
  transition: box-shadow 0.3s ease 0s;
}






#searchResults, #searchResults_list
 {
    width: 100%;
    padding: 4px 0px;

    overflow:auto
    }

  




#searchResults_list  td.image_cell {
      overflow: hidden;
    display: inline-block;
    white-space: nowrap;
          position: relative;


      width: 180px;
    max-height: 150px;
    max-height: auto;
    float: left;
    
}



#searchResults  td.image_cell {
      overflow: hidden;
    display: inline-block;
    white-space: nowrap;
          position: relative;


      width: 150px;
    max-height: 150px;
    max-height: auto;
    float: left;
    
}

.product .productImg {
        display: block;
     vertical-align: top;
    text-decoration: none;

   max-width: 100%;
    height: auto;}




#searchResults_list  td.info_cell {
   width: 180px;
   height:180px;
      overflow: hidden;
    display: inline-block;
    white-space: nowrap;
     
     
}




#searchResults td {
    width: 200px;
    height:260px;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
   

    
}


#searchResults_list td {
    width: 260px;
    height:200px;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    

    
}



/*#searchResults img {
   max-width: 150px;
    max-width: 150px;
    overflow: hidden;
    position: relative;
     -o-object-fit: contain;
  }*/


 
#searchResults_list  .productName_list{color: #167ac6; font-size:14px;

     display: block;
    line-height: 1.3em;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    white-space: normal;
    word-wrap: break-word;



  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
      -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;

        max-height: 2.6em;

font-weight:bold

}


#searchResults .productName{color: #167ac6; font-size:13px;

     display: block;
    line-height: 1.3em;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    white-space: normal;
    word-wrap: break-word;

font-weight:bold;

  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
    max-height: 35px;      /* fallback */
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;


}



#searchResults .product::after {
    clear: both;
}
#searchResults .product::before {
    display: table;
    content: "";
    line-height: 0;
    font-size: 0;
}

.product {
    position: relative;
    display: block;
    white-space: normal;
   
    /*padding: 0px 18px;*/
    float: left;
    text-align: left;
    text-decoration: none;
    font-size: 10px;
    line-height: 16px;
    display: inline-block;

}

.product .by {
color: #888
}
.product .productImg {
        display: block;
     vertical-align: top;
    text-decoration: none;

   max-width: 100%;
    height: auto;}



/*.product {width: 170px;
height: 170px;}*/



.product span{
    display: block;
    width: 100%;
    margin: 1px 0px;

    font-size: 1.1em;
}




.product span.price {



 color: #b12704;
   font-size: 13px;
   line-height: 19px !important;
    text-decoration: none;
}






.product_table thead {
  display: none;
}
.product_tabl tr,
.product_tabl th,
.product_tabl td {
  display: block;
}
.product_tabl td {
  border-top: none;
}
.product_tabl tr td:first-child {
  border-top: 1px solid #ddd;
  font-weight: bold;
}



.product_list tr td a {
    display:block;
    height:100%;
    width:100%;
}

.product_list tr td {
  
    white-space: nowrap;
    width: 99%;
    padding:0px;
    vertical-align:top;
    height:100%;
}

.product_list{
  border-collapse: collapse;
  width: 100%;
}

/*.filtro {max-height:100px;display:block;overflow:auto;overflow-y: scroll;
}*/



.status_line li{padding:3px;display:block}
.detail_price {font-size:12px}

