

img#rating_line  {display: inline;
    margin: 0 auto;
    clear: right; }



#rating_line {height:16px;display: inline;    position: relative;}

#rating_line a {height:16px;display: inline;  width:400px}


#rating_line img a {
  display:block;
    margin:auto;
  }

#showcase {
  padding: 0;
  margin: 0;
  margin-top: 10px;
}
#showcase a:hover img {
  opacity: 0.6;
  filter: alpha(opacity=60);
}
#showcase ul {
  float: left;
  margin: 1px 0 0;
  margin-bottom: 100px;
}
#showcase li {
  display: inline-block
}
#placeholder {
  max-width: 400px;
  max-width: 500px;
  cursor: pointer;
  cursor: hand;
}
#placeholder img {
  max-width: 100%;
  background: url('fancybox_loading.gif') center center no-repeat;
}
#itemprice {
  color: #5ea00d;
}
#item_quantity {
  width: 50px
}

.filtro li {
  margin-bottom: 5px
}
#item_price {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 1;
  color: #900;
  font-size: 20px;
  font-weight: normal;
  margin-bottom:10px
}
.list_view {
  border: 1px solid #CDCDCD;
  min-height: 80px;
  margin: 0px 0px 8px;
  padding-left: 3px;
  width: 500px;
  position: relative;
  display: block;

}
.list_details ul {
  margin: 0;
  vertical-align: middle;
}
.list_details {
  float: left;
  border: 1px solid #CDCDCD;
}
.thumbnail {
  float: left;
  margin: 0px 5px 2px 0px;
  overflow: hidden;
}
.name {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
  font-size: 18px;
  border: 1px solid #CDCDCD;
}

/* --------------------------------------- */

#itemForm {
  position: relative;
  float: right;
  background: #f8f8ee
}
.feedCounter {
  float: right;
  margin-right: 65%
}
#item_name {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 1;
  color: #333;
  margin-top: 5px;
  margin-bottom: 9px;
  font-size: 24px;
  font-weight:normal;
  margin-bottom: 18px;
}
.select_item {
  display: block;
  width: 100%;
  height: 36px;
  padding: 8px 12px;
  line-height: 1.28571;
  color: #666;
  background-color: #FFF;
  background-image: none;
  border: 1px solid #999;
  border-radius: 6px;
  box-shadow: 0px 0px 3px #999 inset;
  transition: box-shadow 0.3s ease 0s;
}




#searchResults {
    width: 100%;
    padding: 4px 0px;
border:solid 1px #000;
    overflow:auto
    }

  


#searchResults td {
    width: 180px;
    height:265px;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
     border:solid 1px red;
}


#searchResults img {
   max-width: 170px;
    max-width: 170px;
  }

#searchResults .productName{color: #167ac6; font-size:13px;

     display: block;
    line-height: 1.3em;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    white-space: normal;
    word-wrap: break-word;

}

#searchResults .product {

  max-width: 170px;


    border:solid 1px blue;
}


#searchResults .product::after {
    clear: both;
}
#searchResults .product::before {
    display: table;
    content: "";
    line-height: 0;
    font-size: 0;
}

.product {
    position: relative;
    display: block;
    white-space: normal;
   
    /*padding: 0px 18px;*/
    float: left;
    text-align: left;
    text-decoration: none;
    font-size: 10px;
    line-height: 16px;
    display: inline-block;

}

.product .by {
color: #888
}
.product .productImg {
   width: 170px;
    height: 170px;
     display: block;
     vertical-align: top;
    text-decoration: none;
}
.product span{
    display: block;
    width: 100%;
    margin: 1px 0px;

    font-size: 1.1em;
}




.product span.price {



 color: #b12704;
   font-size: 13px;
   line-height: 19px !important;
    text-decoration: none;
}






.product_table thead {
  display: none;
}
.product_tabl tr,
.product_tabl th,
.product_tabl td {
  display: block;
}
.product_tabl td {
  border-top: none;
}
.product_tabl tr td:first-child {
  border-top: 1px solid #ddd;
  font-weight: bold;
}



.product_list tr td a {
    display:block;
    height:100%;
    width:100%;
}

.product_list tr td {
  
    white-space: nowrap;
    width: 99%;
    padding:0px;
    vertical-align:top;
    height:100%;
}

.product_list{
  border-collapse: collapse;
  width: 100%;
}

.product_list tr {
  border-bottom: solid 1px #CCC;
}

.searchResults h2 {}
.product .productName {
   margin-top:5px;
   font-weight:normal;


   font-size: 17px;
   line-height: 1.255;
   font-family: Arial,sans-serif;
text-rendering: optimizeLegibility;
}


