/*! http://responsiveslides.com v1.54 by @viljamis */

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}
.rslides_tabs {
  background: #fff;
  bottom: 10px;
  padding: 7px 0 7px 7px;
  position: absolute;
  right: 10px;
  border: 1px solid #ccc;
  z-index: 100;
}
.rslides_tabs li {
  position: relative;
  float: left;
  margin-right: 7px;
  padding: 1px 4px;
  background: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
}
.rslides_tabs .rslides_here {
  background: #F8F8EE;
  border: 1px solid #ccc;
}
