
.inner_mobile {

  with:100%;

  display: block;
  background:#333;

}



#search_container_mobile {
  width: 80%;
  height: 30px;
  float: left;
  display: block;
  /*border:solid 1px red;*/
  margin-top: 5px;
  margin-left: 5px
}


#search_container {


  float: left;
  display: block;
  margin-top:10px;
  margin-left:10px;

  margin-left: 5px;
  margin-top: 5px;
  max-width: 320px;

  padding: 0;
  position: relative;

}




#search_input   {
  background-color: #fff;
font-size: 14px;
line-height: 30px;


position: relative;
-moz-box-sizing: border-box;
box-sizing: border-box;

width:280px;
border: 1px solid #005295;

height: 31px;

     
}


#search_input input {
border-bottom: 1px solid #b2f3fc; 

background: transparent;
border: 0;

font-size: 15px;

width: 99%;
height: 25px;
padding-top: 0;
padding-bottom: 0;
background: none;

box-shadow: none;


}


 #search_input:hover {
   outline:none;border:1px solid #dce138}



#search_box button, #search_box_mobile button {
  position: absolute;

    color: #666;
  cursor: pointer;
  text-align: center;
    padding: 0;
    box-shadow: none;
  top: 0px;

 width: 45px;
  height: 31px;

    display: inline-block;
text-indent: -9999px;
z-index: 1;
  font-size: 12px;
  padding: 5px 15px 5px 15px;
  text-decoration: none;
  display: inline-block;
 max-width: none;






-webkit-border-radius: 0 3px 3px 0;
border-radius: 0 3px 3px 0;


 
 border: solid #dce138 1px;
 
    background: #dce138;
    color: #333;
 




    }




    #search_box button:hover {
      text-decoration: none;
      opacity: 0.6;
      filter: alpha(opacity=60);
    }

    #search_box_mobile button:hover {
      text-decoration: none;
      opacity: 0.6;
      filter: alpha(opacity=60);
    }












a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
       cursor: pointer;
}
.hide {
  display: none;
}



/* ----- Mobile------ */
