
.inner_mobile {

  with:100%;

  display: block;
  background:#333;

}



#search_container_mobile {
  width: 80%;
  height: 30px;
  float: left;
  display: block;
  /*border:solid 1px red;*/
    margin-left: 5px
}


#search_container {


  float: left;
  display: block;
    margin-left: 5px;
  margin-top: 10px;
  max-width: 320px;

  padding: 0;
  position: relative;
margin-left: 1px
}




#search_input   {
  background-color: #fff;
font-size: 14px;
line-height: 30px;


position: relative;
-moz-box-sizing: border-box;
box-sizing: border-box;

width:100%;

height: 31px;
background-color: #fff;
       vertical-align: top;
    border-radius: 2px;

   
     border:solid 1px #091f76;
     border:solid 1px #ddd;
     
}






#search_input input {

background: transparent;

border: 0;

font-size: 15px;

width: 99%;
height: 25px;
padding-top: 0;
padding-bottom: 0;
background: none;

box-shadow: none;



}


 #search_input:hover {
     outline:none;    border: 1px solid #dbc10d;




 }

   
   
   









#search_btn button, #search_btn_mobile button {
  position: absolute;

   
  cursor: pointer;
  text-align: center;
    padding: 0;
    box-shadow: none;
  top: 0px;

    outline: 0;
    border:0;


   bottom:8px;
    right:0px;

 width: 42px;
  height: 32px;

    display: inline-block;
text-indent: -9999px;
z-index: 1;
  font-size: 12px;
  text-decoration: none;
  display: inline-block;
 max-width: none;
       color: #333;

    background-color: transparent;
    background-position: -109px -1002px;


    }




    #search_box button:hover {
      text-decoration: none;
      opacity: 0.6;
      filter: alpha(opacity=60);
    }

    #search_box_mobile button:hover {
      text-decoration: none;
      opacity: 0.6;
      filter: alpha(opacity=60);
    }











a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
       cursor: pointer;
}
.hide {
  display: none;
}



/* ----- Mobile------ */
