
.inner_mobile {

  with:100%;

  display: block;
  background:#333;

}



#search_container_mobile {
  width: 90%;
  height: 38px;
  float: left;
  display: block;
  /*border:solid 1px red;*/
  margin-top: 5px;
  margin-left: 5px
}


#search_container {
  width: 30%;
  height: 35px;
   max-width: none;
   overflow: auto;
  float: left;
  display: block;
  border:solid 1px red;
  margin-top: 5px;
  margin-left: 5px
}
#search_box .wrapper, #search_box_mobile .wrapper {
  width: 85%;
  position: relative;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
   max-width: none;
}
#search_box input, #search_box_mobile input  {
  zoom: 1;
  width: 95%;

-webkit-border-radius: 3px 0 0 3px;
border-radius: 3px 0 0 3px;
  outline: 0;
  -webkit-appearance: none;

  outline: none;
  border-width: 1px medium 1px 1px;
  border-style: solid none solid solid;
  border-color: #CCC -moz-use-text-color #CCC #CCC;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
  font-family: arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  font-size-adjust: none;
  font-stretch: normal;
  font-feature-settings: normal;
  font-language-override: normal;
  font-kerning: auto;
  font-synthesis: weight style;
  font-variant: normal;
  line-height: 26px !important;

  line-height: 0;
overflow: visible;
white-space: nowrap;
 max-width: none;
}


#search_box button, #search_box_mobile button {
  position: absolute;
-webkit-border-radius: 0 3px 3px 0;
border-radius: 0 3px 3px 0;
    color: #666;
  cursor: pointer;

  text-align: center;

    padding: 0;
    box-shadow: none;
  top: 0px;

   background-color: #ffd65e;
border:1px solid #ffd65e;
 width: 40px;
  height: 35px;

position: absolute;
    display: inline-block;

text-indent: -9999px;

z-index: 1;



  font-size: 12px;
  font-family: arial, helvetica, sans-serif;
  padding: 5px 15px 5px 15px;
  text-decoration: none;
  display: inline-block;



 max-width: none;



    }





#search_box input:hover {
  border: solid 1px #bcbcbc
}

#search_box_mobile input:hover {
  border: solid 1px #bcbcbc
}

#search_box button:hover {
  text-decoration: none;
  opacity: 0.6;
  filter: alpha(opacity=60);
}

#search_box_mobile button:hover {
  text-decoration: none;
  opacity: 0.6;
  filter: alpha(opacity=60);
}


a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
       cursor: pointer;
}
.hide {
  display: none;
}



/* ----- Mobile------ */
