.help_shopcart li {
  display: inline-block;
  float: left;
  margin-right: 13px;
  vertical-align: middle;
}
#shopcart {
  /* margin-left: 40px;*/
  width: auto;

  float: right;
  margin-right: 10px;
  margin-left: 20px;
  margin-top: 5px;
  display:block
}
#shopcart span {
  float: left
}
#shopcart a {
   margin-top: 2px;

  display: block;
  vertical-align: top;
  float: right;
  line-height: 0.2em;
  display: inline-block;
  vertical-align: middle;
}
.add_to_cart a {
  width: 190px;

  height: 50px
}
.add_to_cart {
  height: 50px
}
.shopcart_button {
  cursor: pointer;
  margin-top: 5px;
   background-position: -256px -92px;
            width: 24px;
            height: 19px;
  display: inline-block;
    background-image: url('icons.png');
}



.shopcart_button:hover {
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.shopcart_button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
#shopcart .shopcart_counter {
  width: auto;
  height: auto;
  float: right;
  text-align: center;
  font-size: 9px;
  line-height: 14px;
  color: #000;
  text-shadow: none;
  border: 1px solid #f3b81f;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #ffc120;
  background-image: -webkit-linear-gradient(top, #ffc120, #ffc120);
  background-image: -moz-linear-gradient(top, #ffc120, #ffc120);
  background-image: -o-linear-gradient(top, #ffc120, #ffc120);
  background-image: -ms-linear-gradient(top, #ffc120, #ffc120);
  background-image: linear-gradient(top, #ffc120, #ffc120);
  padding: 0 2px;
}
#shopcart .shopcart_link {
  font-size: 12px;
  float: right;
  margin-left: 0;
  margin: 6px 0 0 0;
  text-align: middle;
  padding-top: 8px;
  


}
#shopcart .shopcart_link:hover {
  text-decoration: underline
}
.help_shopcart ul li a {
  display: block;
  vertical-align: middle;
  float: right;
color:#fff
}
