
[epub-type="stretchsummary"],
[epub\:type="stretchsummary"],
.stretchsummary {
	/*border: 1px dashed gray;*/
	cursor: pointer;
	color: inherit;
	text-decoration: none;
    }

[epub-type="stretchsummary"]:hover,
[epub\:type="stretchsummary"]:hover,
.stretchsummary:hover {
	/*border-style: solid;*/
	background: #a4bad6;
	color:#fff
}

[epub-type="stretchsummary"]::after,
[epub\:type="stretchsummary"]::after,
.stretchsummary::after {
	content: "\00bb"; /* >> character */
	color: #88886d;
	padding-left: 3px;
	padding-right: 3px;

}

[epub-type="stretchsummary"] + [epub-type="stretchdetail"],
[epub\:type="stretchsummary"] + [epub\:type="stretchdetail"],
.stretchsummary + .stretchdetail {
	margin-left: 0.1em;

}

[epub-type="stretchdetail"],
[epub\:type="stretchdetail"],
.stretchdetail {
	display: none;
	opacity: 0;
	-webkit-transition: opacity 0.2s ease-out;
	-moz-transition: opacity 0.2s ease-out;
	-o-transition: opacity 0.2s ease-out;
	transition: opacity 0.2s ease-out;

}

[epub-type="stretchdetail"].stretchtext-open,
[epub\:type="stretchdetail"].stretchtext-open,
.stretchdetail.stretchtext-open {
	opacity: 1;
	/*background-color: #FAF0E6;*/
padding-top:3px;
padding-bottom:3px;
color:red


}

[epub-type="stretchsummary"].stretchtext-open::after,
[epub\:type="stretchsummary"].stretchtext-open::after,
.stretchsummary.stretchtext-open::after {
	content: "\00ab"; /* << character */

color:red

}













/* Required styles; changing these may break the menu */


/* Default theme */


.slinky-menu  {
	background: #ebf3fd;
	border: none;
 color: #004B91;
	padding: 10px;
	display:block;
border:solid 1px #c9dcf2;
-webkit-border-radius: 3px 3px 3px 3px;
border-radius: 3px 3px 3px 3px;
font-size:14px
}

.slinky-menu a {
	background: #ebf3fd;
	border: none;
 color: #004B91;
	padding-top: 5px;
	display:block;
width:100px;
/*float:right;left:
position:relative;
vertical-align:top*/
}
.slinky-menu a:hover {
/*	background: #a4bad6;*/
	text-decoration: underline;
}
.slinky-menu a.next:after {
	content: '\276f';
	margin-left: 1em;
	float: right;
}
.slinky-menu a.back:before {
	content: '\276e';
	margin-right: 1em;
	float: left;
}

.slinky-menu {background:#ebf3fd;}
 .stretchsummary {display:inline-block;vertical-align:top;width:100%;border-bottom: 1px dashed #c9dcf2;}
