@charset "UTF-8";
time {
  color: #888
}
input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="tel"], input[type="color"], textarea {

  line-height: 16px;
  font-size: 12px;
  padding: 5px 4px;
  width: 50%;
  height: 25px;
  margin: 0em;
  font: normal normal normal 11px/normal 'Lucida Grande';
  cursor: auto;
  border: 1px solid #ccc;
  outline: none;
}
select {
  display: inline-block;
  width: 50%;
  height: 20px;
  padding: 4px;
  margin-bottom: 9px;
  font-size: 13px;
  line-height: 18px;
  color: #555555;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}
.span {
  color: #888
}
form {
  margin: 0;
  padding: 0
}
label {
  cursor: pointer;
  color: #666;
  padding-left: 2px;
  vertical-align: middle
}
label input {
  font-weight: normal
}
select {
  border: 1px solid #d2dbbf;
  padding: 2px
}
body {
  font-family: sans-serif;
  font-size: 9pt;
  overflow-y: scroll;
  display: block;
  font-weight: normal;
  -webkit-font-smoothing: subpixel-antialiased;
  line-height: 19px;
  background: #fff;
  color: #141823;
  line-height: 1.28;
  margin: 0;
  padding: 0;
  direction: ltr;
  unicode-bidi: embed;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 13px;
  color: #333;
  margin: 0;
  padding: 0;
  font-weight: normal
}
h1 {
  padding-bottom: 7px;
  font-weight: bold;
}
h2 {
  padding-bottom: 3px;
  font-size: 14px;
  color: #333;
}
h4 {
  color: #555;
  line-height: 26px;
}
h5 {
  padding-bottom: 3px;
  font-size: 13px;
  color: #333;
  font-weight: bold;
}
h1 {
  font-size: 15px;
  color: #000;
}
button {
  margin: 0
}
a {

  color: #0066C0;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
  color: #034678;
}
a:visited {
  color: #085EB9;
}
img {
  border: 0
}
td, td.label {
  text-align: left
}
dd {
  color: #000
}
dt {
  color: #777
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0
}
abbr {
  border-bottom: none
}
hr {
  background: #d9d9d9;
  border-width: 0;
  color: #d9d9d9;
  height: 1px
}
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden
}
.clearfix {
  zoom: 1
}
body {
  overflow-y: scroll;
  height: 100%;





}
table {
  word-wrap: normal
}

/*
          * Remove inner padding and border in FF3/4: h5bp.com/l
          */

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
html {
  font-size: 90%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);

  word-wrap: break-word;
  -ms-word-wrap: break-word;
  white-space: normal;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  display: block;
  background-repeat: no-repeat;
  background: none repeat scroll 0% 0% #fff;
  ;
}


/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio, canvas, img, video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
  min-height: 150px;
}

/* ==========================================================================
Browse Happy prompt
========================================================================== */

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
Author's custom styles
========================================================================== */


/* ==========================================================================
Helper classes
========================================================================== */


/*
 * Image replacement
 */

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/*
           * Hide from both screenreaders and browsers: h5bp.com/u
           */

.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before, .clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
  *zoom: 1;
}

/* ==========================================================================
EXAMPLE Media Queries for Responsive Design.
These examples override the primary ('mobile first') styles.
Modify as content requires.
========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
Print styles.
Inlined to avoid required HTTP connection: h5bp.com/r
========================================================================== */

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a, a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }
  tr, img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
    height: auto;
  }
  @page {
    margin: 0.5cm;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
}

/*! normalize.css v1.1.2 | MIT License | git.io/normalize */


/* ==========================================================================
HTML5 display definitions
========================================================================== */


/**
 * Correct `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block
}
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
pre {
  margin: 0
}
a:hover, a:active {
  outline: 0
}
sub, sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em
}
sub {
  bottom: -0.25em
}
abbr {
  border-bottom: 0 none
}
img {
  max-width: 100%;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
button, input, select, textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
button, input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner, input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-appearance: textfield
}
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none
}
textarea {
  overflow: auto;
  vertical-align: top;
}
body {
  padding: 0;
  margin: 0;
}
body {
  line-height: 19px;
  color: #333;
}
h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}
h1, h2, h3, h4 {
  font-family: Arial, sans-serif;
  text-rendering: optimizeLegibility;
  padding-bottom: 4px;
}
h5 {
  font-weight: bold;
  font-size: 13px;
  line-height: 19px;
}
h6 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 1.465;
  padding-bottom: 1px;
}
p {
  padding: 0;
  margin: 0 0 14px 0;
}
p:last-child {
  margin-bottom: 0
}
p+p {
  margin-top: -4px
}
b, strong {
  font-weight: bold
}
i, em {
  font-style: italic
}
blockquote {
  margin: 13px
}
small {
  font-size: 12px
}
hr {
  margin: 12px 0 12px 0;
}
hr {
  height: 1px;
  border: 0;
  border-top: 1px dotted #CCC;
}
hr {
  border-color: #CCCCCC -moz-use-text-color -moz-use-text-color;
  border-style: dotted none none;
  border-width: 1px 0 0;
  height: 1px;
}
hr[Attributes Style] {
  width: 100%;
  border-bottom-width: 0px;
}
user agent stylesheethr {
  display: block;
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.5em;
  -webkit-margin-start: auto;
  -webkit-margin-end: auto;
  border-style: inset;
  border-width: 1px;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
body {
  margin: 0;
}
a:active, a:hover {
  outline: 0;
}

/**
          * Address styling not present in IE 7/8/9, Safari 5, and Chrome.
          */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */

b, strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 * Known issue: no IE 6/7 normalization.
 */

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 6/7/8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address margins set differently in IE 6/7.
 */


/**
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */

code, kbd, pre, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/**
 * Address CSS quotes not supported in IE 6/7.
 */

q {
  quotes: none;
}

/**
 * Address `quotes` property not supported in Safari 4.
 */

q:before, q:after {
  content: '';
  content: none;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

/* ==========================================================================
Lists
========================================================================== */


/**
 * Address margins set differently in IE 6/7.
 */

dl, menu, ol, ul {
  margin: 0;
  padding: 0;
}
dd {
  margin: 0px;
}

/**
 * Address paddings set differently in IE 6/7.
 */

menu, ol, ul {
  padding: 0px;
}

/**
 * Correct list images handled incorrectly in IE 7.
 */

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
}
ol, ul {
  list-style-position: inside;
}

/* ==========================================================================
Embedded content
========================================================================== */


/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Correct overflow displayed oddly in IE 9.
 */

svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
Figures
========================================================================== */


/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
  margin: 0;
}

/* ==========================================================================
Forms
========================================================================== */


/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button, input, select, textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button, input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button, select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button, html input[type="button"],
/* 1 */

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
         * Re-set default cursor for disabled elements.
         */

button[disabled], html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */


/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
Tables
========================================================================== */


/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
p {
  margin: 0;
  padding: 0
}
.clearfix {
  *zoom: 1
}
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
  line-height: 0;
  font-size: 0;
}
.clearfix:after {
  clear: both
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.offscreen {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.a-hidden {
  display: none!important;
  visibility: hidden!important;
}
.a-visible-phone {
  display: none!important
}
.a-visible-tablet {
  display: none!important
}
.a-hidden-desktop {
  display: none!important
}
@media (max-width:767px) {
  .a-visible-phone {
    display: inherit!important
  }
  .a-hidden-phone {
    display: none!important
  }
  .a-hidden-desktop {
    display: inherit!important
  }
  .a-visible-desktop {
    display: none!important
  }
}
@media (min-width:768px) and (max-width:979px) {
  .a-visible-tablet {
    display: inherit!important
  }
  .a-hidden-tablet {
    display: none!important
  }
  .a-hidden-desktop {
    display: inherit!important
  }
  .a-visible-desktop {
    display: none!important
  }
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
form {
  margin: 0;
  padding: 0;
}
label {
  cursor: pointer;
  color: #666;
  font-weight: bold;
  vertical-align: middle;
}
label input {
  font-weight: normal
}
textarea, .inputtext, .inputpassword {
  border: 1px solid #bdc7d8;
  margin: 0;
  padding: 3px;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
textarea {
  max-width: 100%
}
select {
  border: 1px solid #bdc7d8;
  padding: 2px;
}
body {
    color: #141823;
  line-height: 1.28;
  margin: 0;
  padding: 0;
  direction: ltr;
  unicode-bidi: embed;


    background: #fff;





}
body, button, input, label, select, td, textarea {
  font-size: 12px;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 13px;
  color: #141823;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 14px
}
h4, h5, h6 {
  font-size: 11px
}
p {
  margin: 1em 0
}
a {
  color: #3b5998;
  cursor: pointer;
  text-decoration: none;
}
button {
  margin: 0
}
a:hover {
  text-decoration: underline
}
img {
  border: 0
}
td, td.label {
  text-align: left
}
dd {
  color: #000
}
dt {
  color: #777
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
abbr {
  border-bottom: none;
  text-decoration: none;
}
hr {
  background: #d9d9d9;
  border-width: 0;
  color: #d9d9d9;
  height: 1px;
}
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
.clearfix {
  zoom: 1
}
.datawrap {
  word-wrap: break-word
}
.word_break {
  display: inline-block
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
