<div class="subcontent">
  <div class="block_message">

    <h2>Entrar em contato com o vendedor</h2>

    <% @conversation = Conversation.new %>

    <%= form_for @conversation do |f| %>

    <%= hidden_field :conversation_participants, :user_id, :value => @product.vitrine.user_id %>
    <ul>
      <li><%= text_area :message, :body, class: 'form-control',data: { emojiable: true },:rows => 3 %></li>

    </ul>

    <%= f.button 'Enviar', :class => 'btn_grey' %>

    <% end %>

  </div>

</div>
