<div id="showcase">
  <ul>

    <% unless @product.images.blank? %>
  <%  @product.images.limit(4).each do |f| %>
    <li>
      <a href="<%= @product.images.url.to_s %>">
        <%= f.image_tag(@product.images.url(:small).to_s, :class => 'thumbnail circle', :'data-zoom-href' => @product.images.url(:big).to_s) %>
      </a>
    </li>
       <% end %>


  </ul>
</div>
