<div>
<ul>
<% @categories.each do |c| %>

<li><%= link_to   c.name,  category_path(:id => c.id)  %></li>



<% c.subcategories.each do |s| %>

<li><%= link_to   s.name, subcategory_path(:id => s.id ) %></li>
<span></span>

<% end %>
    <% end %>
</ul>
  </div>
