<script language="JavaScript" type="text/javascript">
TrustLogo("https://www.vitrineonline.com/assets/comodo_secure.png", "CL1", "none");
</script>
<a  href="https://ssl.comodo.com" id="comodoTL">SSL Certificates</a>
