<div id="fb-root"></div>

<script type="text/javascript">
  $(document)
    .ready(function () {

      window.fbAsyncInit = function () {
        FB.init({appId: '<%= ENV["FACEBOOK_APP_ID"] %>', status: true, cookie: true, xfbml: false});
      };

      (function () {
        var e = document.createElement('script');
        e.async = true;
        e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
        document.getElementById('fb-root')
          .appendChild(e);
      }());

      $('#facebook_sign_in').click(function (e) {
        e.preventDefault();
        FB.login(function (response) {
          if (response.authResponse) {
            window.location = '/auth/facebook/callback';
          }
        }, {scope: 'email, publish_actions'});
      });

      // Facebook login for product sharing
      $('#product_is_shared_on_facebook').click(function (e) {
        var checkbox = $(this);

        if(checkbox.is(':checked')) {
          FB.getLoginStatus(function (response) {
            if (response.status === 'connected')
              $.get('/products/auth/facebook/callback?access_token=' + response.authResponse.accessToken);
            else
              FB.login(function (response) {
                if (response.authResponse)
                  $.get('/products/auth/facebook/callback?access_token=' + response.authResponse.accessToken);
                else
                  checkbox.attr('checked', false);
              }, {scope: 'email, publish_actions'});
          });
        }
      });

      $('#logout_button').click(function (e) {
        FB
          .getLoginStatus(function (response) {
            if (response.authResponse) {
              return FB.logout();
            }
          });
        return true;
      });
    });
</script>
