<% cache "busca" do %>

<%=form_tag products_path,method: :get, :id=> "search_box" do %>
<div id="search_container">
<div id="search_input">
  

 

 <%=text_field_tag  :query, params[:query], :name => "search", :id=> "search", :title=>"Busque Itens", :placeholder => "Digite o que você busca", autocomplete: :off %>


 
</div>
<div id="search_btn">
<%=button_tag "Buscar", :value => "Buscar", :name=> nil do %>
<%=content_tag( :i,nil, :class=> "sprite-icons-lupa",  :id=> "search_icon") %>
<% end %>
</div>
</div>
<% end %>

<% end %>
