<div id="search_container">

  <%= form_tag products_path,method: :get, :id => "search_box" do %>
  <div class="wrapper">
    <%= text_field_tag :query, params[:query],  :id => "search" %><%= button_tag "", :class =>"search_btn", :name => nil %>
    <%= content_tag( :i,nil, :class => "search_icon")  %>
    <span class="hide">Buscar</span>
  </div>
  <% end %>

</div>
